node-red-data/flows.json
[{"id":"253d7b99.c093d4","type":"tab","label":"MQTT Control","disabled":false,"info":""},{"id":"60f372c8.e62cbc","type":"tab","label":"Projector","disabled":false,"info":""},{"id":"dc1701e8.e957a","type":"tab","label":"QSC","disabled":false,"info":""},{"id":"3b99a9a.f0c4956","type":"tab","label":"RELAYS","disabled":false,"info":""},{"id":"ae18994d.15a058","type":"tab","label":"Playback Pro Plus","disabled":false,"info":""},{"id":"d77c9cc4.8b91","type":"tab","label":"Pandoras Box","disabled":false,"info":""},{"id":"811c6360.5f932","type":"tab","label":"DS750","disabled":false,"info":""},{"id":"be8501b9.5dcf","type":"tab","label":"Displays/Amps","disabled":false,"info":""},{"id":"ee2c3154.b9d74","type":"tab","label":"Media Players","disabled":false,"info":""},{"id":"3df5559a.5981da","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5bbd3cc6.d06744","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["29db9ccc.d862a4","e065afae.169cf","ccc96d87.ce7d8","3b49e8ba.0adff8","173678c4.46bd57","7e45e542.81ad1c","92d98a05.c864a8","c1e202c9.1800d","f3ea5741.b001e8","8f9ded7b.9ba5a","1aa926ce.a29ca9","cc534890.7029c8"],"x":54,"y":859,"w":672,"h":342},{"id":"3200878.a242478","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f0de268.b8240d8","ce140b3.918b1f8","c986df3f.be8e3","7c35d973.281318","6dbc6bb0.b0b204","6c2a3936.321458","47cb001b.f6a49"],"x":54,"y":99,"w":692,"h":242},{"id":"64e5b809.af4da8","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f40aa760.ef3bb8","d6bfe70c.eaef68","e6a34329.aba2","d8d0e5d1.bfe298","d76963d2.5e4ae","ed8bfd52.6e345","67d660b4.d5438"],"x":54,"y":599,"w":712,"h":222},{"id":"469ffdc5.7e3594","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["58782cc0.e02e24","3d731e9d.5d6bf2","5f26fa92.c7efb4","486c6255.2b025c","b7ed3f41.976b2","a3afe73f.7294c8","94e530d2.17538"],"x":54,"y":1199,"w":652,"h":222},{"id":"925a1e2a.2961c","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["503faedd.48c76","a3357314.e2888","e49e787d.e24558","b5d629e5.442c98","e13c8bf.a94f878","eecb1e38.b9ab2","fe1835ca.871b68"],"x":54,"y":359,"w":732,"h":222},{"id":"ec1901a3.6f6a2","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["25d736ef.2a92ea","633d2873.69be28","d8456594.cdefd8","dd7b40cc.2926","426986a.d9cbb78","37353dbe.0a9c52","23949e21.eab042","c4b641a0.6b1a8","cc27a656.3ded38","19221624.4ec93a","1a22db9f.33dff4","bf71ed79.22d09","4caca1d4.b2dec"],"x":774,"y":479},{"id":"a1600691.2422e8","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a461dbae.8bfd48","d8e0a8fe.4ac6a8","d9d87276.d9b69","70dc08e4.58c978","eb847885.152898","ca428aa2.6b2c18","c4206fcc.08fa","c1b88f9f.f3235","c1107989.5025c8","998cd332.aebdb","5df2160b.7f2f98","f779d466.176d08","29c70b07.6f7114"],"x":774,"y":39},{"id":"fee0d104.c6dce","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dc4981f2.99114","465762e4.c77c8c","77e79d03.96e044","2755962e.a38c7a","31015cc4.35fe14","76a3d6c2.778a38","581c0840.2527d8","e4d35394.f460f","3410a912.8b4916","63e9cb66.f0c944","eb45e179.8e0bf","6d33bfcb.d26fb","5a4137b9.141318"],"x":1454,"y":39},{"id":"b5fa7db9.12881","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d0fbbcaa.4e0ee","62cc9aa.bfd6c64","cb799b5.b458168","40293496.249a4c","6a06544d.c7b80c","5314b4f3.246d8c","328a3c17.fef624","edc8b718.be55b8","d255d81a.5c2338","f560662.8797298","fa28444e.5dc118","26e3cfa8.e80ef","78b9d709.34f528"],"x":54,"y":479},{"id":"6336200d.7b3dc","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e289481a.7c0c38","befc55a6.cf1078","b53478e2.061258","8f1ee10a.1e742","ca8c314d.62bb5","521f06f7.dcaee8","7d8667ca.acb1e8","9678fb74.2ca238","5531ff7e.48fa3","def3ee3b.96231","e2df50d2.57293","4486f4f2.10216c","8ad97e59.7639"],"x":74,"y":39},{"id":"d3c030bb.b06e","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3c063908.d2a366","d290b662.6a6fa8","bbfd868f.a11498","94360c1.5385ff","6a85add.c80d554","77557404.429b7c","cacc4021.4290b"],"x":44,"y":439,"w":762,"h":222},{"id":"15b7037f.07995d","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4f468c25.dee344","435bdcef.3ba824","a3c63fc6.b5f45","df14d87f.338188","c91aed6b.c74e2","ce78aa06.b98e58","1e8758cc.7b0e47"],"x":64,"y":679,"w":702,"h":222},{"id":"121b02df.2119ed","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4f7517e2.e34828","d467f36e.436b9","8966ac25.5ea37","167b2b9.cc1eed4","55e94dbc.7a44f4","2fb55a5.06a2ca6","2a67b86d.0d0eb8"],"x":854,"y":419,"w":712,"h":222},{"id":"d122e4cc.8a5268","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a5dde214.6b96b","ad5e2646.511508","f29d09f4.4af688","40f8ca3f.369bd4","bc0d7a1d.15b468","dda21642.d20e48","ed0e0919.559d38","26c5062d.ab3d2a","a99e28c5.00e608","c213f49a.cf27e8","b71a2c2.ed252d","caf92a07.6b38a8","ba7392f8.3c81f","960d4693.e30dc8"],"x":914,"y":679,"w":852,"h":362},{"id":"e23e0ce0.48106","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["87c81302.d1d08","b22b8c90.13856","555af4c2.1d882c","c1d7844d.8b47c8","e8198af9.414678","49e58ec1.0d43c","d7a4b4ec.da1bb8","19572ad2.c1bb25","936561cc.a776d","1be94d24.9a9cb3","6a6f07c6.5c6fc8","bfb57982.d7dd88","7e73b13e.fd36e","8aae6107.601c9"],"x":14,"y":939,"w":852,"h":362},{"id":"d0befb34.0bf1c8","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ec835be7.a22568","c844ae07.1c59a","ab0c051f.ecb948","4477d24f.3a19dc","2adb8f8c.15835","3a995aa9.2fc706","3312a27.e4bd25e","75e9d899.0d7fa8","c5cdabae.f83858","bcc62a97.a6c4d8","3eb45a90.4119d6","271b534b.aba96c","16ed2757.714049","4160d005.303df"],"x":794,"y":39,"w":712,"h":362},{"id":"98dd27d9.f965b8","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b6d75bd8.896658","e3e31379.607b8","e5d9e5df.739db8","972f3d22.9462","b2809d81.3a77a","a73d8305.7d253","f2ce75ce.f3f4f8","6bca8a38.c839f4","1d6fe70d.e82e29","c247ac13.c5139","46e81f8e.9d309","7ca773ab.5318ec","8e033b55.614f38","f3ee7c02.a0ac9"],"x":34,"y":39,"w":732,"h":382},{"id":"e6aee294.909f6","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["28e75fa7.03459","4c6faaf0.4d22b4","3ac82abd.471316","ddae5956.361658","67581f01.14e6b","8b518e89.094","114a70ff.be573f"],"x":134,"y":1419,"w":572,"h":222},{"id":"8c7f1a32.b7e488","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c3dc27f2.428e08","677fcf7e.c04ba","e4462281.e6ea6","22958aeb.2255a6","fcc9890c.9aa228","d93d7a86.745678","65e5c55b.bf708c"],"x":744,"y":1419,"w":542,"h":222},{"id":"b0133d15.00dc9","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["aa480697.31bce8","3bfe2711.623ed8","45e8a5a9.77b14c","8a2a53e8.efb24","8a1198f.be6ef68","8b524614.274818","9ba84231.1b10a","b0980b41.137668","d501f7fc.8e5478","98c5cdfb.1f41a","ec453d43.15fdc","8735bfe7.e3b48","921c33e6.e3b33","1d2f68d3.2344a7","15dde01a.db262","9ce90c63.78e44","270800e9.1ec86","4ba837f.b2e98c8","ff48abb9.f52b38"],"x":34,"y":2319,"w":872,"h":582},{"id":"80e9c7e3.31ba78","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2c7bc3f4.42ae3c","80935ad5.c038e8","67698b97.9b2034","b65d58a3.9996a8","9a4a8e97.621f9","594018eb.5671c8","a693e2cb.8b966","f7fd4c10.65969","e80ce772.dcb558","58a6788f.5711d8","850f9a6b.c5ac08","8276fac0.3c7658","4c6e962e.dac0d8","b9436e01.ce796","367e3818.2f6b18","f7ca5293.59825","182039ef.1bcf76","c5b11e9c.11306","39d805de.a48dda","edf580f0.4bc88"],"x":14,"y":1699,"w":912,"h":622},{"id":"1641c50d.5e088b","type":"group","z":"ee2c3154.b9d74","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a21c086e.29aa98","bae604cb.488e68","356ee45b.f45a6c","922730e.4c862d","86beab76.5d8558","30aa197f.3c63b6","6aa4cdb9.f5a494","19223487.40787b","f0d49106.b3cf6","fe414e2f.70fd8","1ef9e821.b96708","4e95915d.0bf88","72e10245.a7c52c","7a32368d.134528","b8a93161.3b5a8","59c99937.4c35d8","304869a3.211a36","aa9e5186.948d6"],"x":94,"y":739},{"id":"bb0f47c2.7a0368","type":"group","z":"253d7b99.c093d4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1101e760.62acb9","da34f0e0.99d6","bdea3aee.00a7b8","563f8064.6cb3d"],"x":14,"y":179,"w":512,"h":282},{"id":"1ee2a53c.5bc97b","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2b83d948.908bd6","4df177dc.cda178","a298118a.32806","8c1124c7.6458e8","fb13f5ab.3a9b08","4c4b4277.4705fc","6aa263bc.8a7d4c","98e5717c.7fa24","4baef974.877668","357801cd.3248de","dd778347.6511b","84faccda.6579f","722f5a57.d242f4","13a8bbcb.e703a4","a9d8ff91.14849","9cbc6c4d.fc2d9","b08a6f30.0d318","3991812.f3e657e","e431324e.3833e"],"x":1814,"y":599,"w":832,"h":662},{"id":"31a81f87.5bed7","type":"group","z":"be8501b9.5dcf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e3b1886c.7f2728","3da5a6e2.4bee8a","f007cb7e.029338","2029a9db.f71ba6","b968bed2.d4001","3ae0bb48.08e0c4","a767d04a.37c05","9ade120f.1791c","152eb642.bcec4a","ea35cd32.31121","ec68a226.fae52","86d53d01.89ccc","93857a89.0e1e28","c45aa14d.ff206","ec0b5e55.bb0cc"],"x":1274,"y":2139,"w":632,"h":402},{"id":"c00b81c5.d49c6","type":"group","z":"3b99a9a.f0c4956","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c96af5fa.e3cf58","dd1d0fa9.1be11","382e430.e6a5fbe","4c69c126.a0221","76219074.1f03a","490f72e7.456d9c","96bc3b53.8ed048","199ccb8d.463eb4","78fbd7f0.3dc568","111a8c1.ebf6674","b1c24e6.e1b24b","6c26a6cc.ea3928","4834865e.d43b58"],"x":1454,"y":479},{"id":"6d94955a.b758fc","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4a03bbf0.e04634","b1981c79.bb054","364f299c.7398b6","2316af4a.609be","40e8eeac.21dcc","fbc21530.7d0858","172bef58.eb66e1","11975bfb.ec1864","18c93c3d.d24e44","8c62c30a.ecde","c6e2ef4a.209c3","17e63a08.041846","40035b84.ca4dd4","2122507b.2d777","fd9ff98.1cf4a08"],"x":874,"y":1479,"w":872,"h":522},{"id":"fe1e2e5f.16bef","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ae02016b.dbc82","2ebf48fe.17e088","ef1a3adf.5f4bf8","19695bb2.7f2994","76e1df01.aea8c","15d21ef5.9f8911","fd9c013d.6246a","16076d00.78fba3"],"x":874,"y":599,"w":732,"h":242},{"id":"dfd02cde.5c3af","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["33061b6b.0329d4","db012a19.302308","1b5c7a95.f93ab5","e1905691.d5d128","9779e00d.7d847","3416ae1f.78d502","3aa8966.16e8c6a","325d9cbe.053c54","6d616bd9.b5dac4","44e54d56.e6f074","adadda84.ec5678","5c459c13.3b8a14"],"x":854,"y":899,"w":812,"h":422},{"id":"ce4fad35.87389","type":"group","z":"60f372c8.e62cbc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9a8844ec.e3a2a8","507d9972.92abe8","9208b6b2.6813c8","40f4f505.c282bc","792e7758.2b8c98","3341e76.d9cd818","ac901220.b3ee3","edb5aac6.a3ea88","6cdadba7.3f72f4","ec74c890.cd0a28","28390552.06730a","eb925fec.636"],"x":164,"y":1459,"w":642,"h":402},{"id":"5dc7506e.763f4","type":"group","z":"ee2c3154.b9d74","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["eebb4592.b633e8","e2824ea4.19836","62cb34de.81a85c","22b0b746.d06948","286caad1.05a646","db30b5a3.fe29e8","aa4c2eb2.76448","7a3ea217.09c47c","3ed299de.022816","2945dadc.2a40f6","3e873c52.e261e4","6bc464f8.a14ecc","bbfbc7dd.b56fc8","82e5caa6.311d98","a882e923.916ef8","b3c07533.9ac6d8","937fc310.e7255","aa5d5916.1ba138"],"x":94,"y":1319},{"id":"7b1ef81d.3d2788","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3dff51","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#32ecdc","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Show Control","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c433e82a.8ccc08","type":"mqtt-broker","name":"PI-100","broker":"u1@localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1a7381a7.06542e","type":"ui_group","name":"B23","tab":"","order":1,"disp":true,"width":"4","collapse":true},{"id":"3a99906e.03493","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"d22af393.d0662","type":"ui_group","name":"Bay 62","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"351a0672.e5cdaa","type":"ui_tab","name":"1071","icon":"dashboard","disabled":false,"hidden":false},{"id":"8fa1d836.4f9188","type":"ui_spacer","name":"spacer","group":"b9ab215e.a4471","order":2,"width":1,"height":1},{"id":"21980a8a.d97006","type":"ui_group","name":"High Gallery","tab":"351a0672.e5cdaa","order":1,"disp":true,"width":"4","collapse":true},{"id":"2bc0ce88.d4ad72","type":"ui_group","name":"Ramp 2","tab":"351a0672.e5cdaa","order":2,"disp":true,"width":"3","collapse":true},{"id":"19d222db.5e552d","type":"ui_group","name":"Ramp 3","tab":"351a0672.e5cdaa","order":3,"disp":true,"width":"3","collapse":true},{"id":"bcdbdff4.00fe6","type":"ui_group","name":"Ramp 4","tab":"351a0672.e5cdaa","order":4,"disp":true,"width":"3","collapse":true},{"id":"22dced47.bd35e2","type":"ui_group","name":"Ramp 5","tab":"351a0672.e5cdaa","order":5,"disp":true,"width":"3","collapse":true},{"id":"576594fa.183bbc","type":"ui_group","name":"Ramp 6","tab":"351a0672.e5cdaa","order":6,"disp":true,"width":"3","collapse":true},{"id":"dbc1475b.4ab238","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4d0a006.82733","type":"ui_group","name":"Tower 4","tab":"351a0672.e5cdaa","order":7,"disp":true,"width":"3","collapse":true},{"id":"f1f8fc14.f1a11","type":"ui_group","name":"Tower 7","tab":"351a0672.e5cdaa","order":8,"disp":true,"width":"3","collapse":false},{"id":"401aaa2b.7b7174","type":"ui_group","name":"STATUS","tab":"351a0672.e5cdaa","order":9,"disp":true,"width":"8","collapse":false},{"id":"5174ebea.905f14","type":"jsonrpc-client","name":"OSC","host":"172.16.3.50","port":"1710","connection":"socket"},{"id":"cdde208a.ba1d","type":"jsonrpc-client","name":"ganache","host":"localhost","port":"7545","connection":"http"},{"id":"7a98d46a.721b4c","type":"telnet-connection","name":"QSC","address":"172.16.3.126","port":"1702","inDelimiter":"","outDelimiter":"","timeOut":"","clearOut":"","openTries":"1"},{"id":"42cdf749.2b7758","type":"jsonrpc-client","name":"ganache","host":"localhost","port":"7545","connection":"http"},{"id":"926971bb.b0ca4","type":"telnet-connection","name":"OSC - RPC","address":"172.16.3.50","port":"1710","inDelimiter":"","outDelimiter":"","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"d3a98c3a.fe083","type":"websocket-listener","path":"/ws/request","wholemsg":"false"},{"id":"1c918c3a.3a2374","type":"websocket-client","path":"ws://localhost:1880/ws/request","tls":"","wholemsg":"false"},{"id":"fbd6b67f.7cf178","type":"mqtt-broker","name":"","broker":"$(IP_BROKER)","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c0439331.9076e","type":"mqtt-broker","name":"","broker":"$(IP_BROKER)","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"67f65694.019f98","type":"mqtt-broker","name":"Museum","broker":"172.16.1.72","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a855f577.82af58","type":"mqtt-broker","name":"","broker":"172.16.1.72","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92cc03bd.cd2dc","type":"telnet-connection","name":"DS750","address":"172.16.0.85","port":"10000","inDelimiter":"","outDelimiter":"","timeOut":"","clearOut":"","openTries":"1"},{"id":"e2d6a9a3.760d58","type":"fred-client","endpoint":"gug-audio-status","private":true,"username":"piotrchizinski","wholemsg":"true"},{"id":"e289481a.7c0c38","type":"tcp request","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","server":"172.16.2.148","port":"4998","out":"sit","splitc":" \\n","name":"T4 RELAY-LAMP","x":610,"y":200,"wires":[["e2df50d2.57293"]]},{"id":"da0302d3.f68ee","type":"debug","z":"dc1701e8.e957a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":520,"wires":[]},{"id":"23fd9d0b.965cf2","type":"inject","z":"dc1701e8.e957a","name":"NoOp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\":\"2.0\",   \"method\":\"NoOp\",   \"params\":{   } }","payloadType":"jsonata","x":130,"y":120,"wires":[[]]},{"id":"cb72c3d1.cee35","type":"inject","z":"dc1701e8.e957a","name":"Control Get","props":[{"p":"payload"},{"p":"methods","v":"control.get","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\": \"2.0\",   \"id\": 1234,   \"method\":  \"Control.Get\",    \"params\": [\"SSvid1\", \"SSvid2\"] }","payloadType":"json","x":150,"y":200,"wires":[[]]},{"id":"ffb8201e.2b5d9","type":"inject","z":"dc1701e8.e957a","name":"status get","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[[]]},{"id":"85a11acd.3be948","type":"tcp request","z":"ae18994d.15a058","d":true,"server":"172.168.3.83","port":"4647","out":"sit","splitc":" ","name":"","x":680,"y":280,"wires":[["f0d88713.4265b8"]]},{"id":"aa63b304.09e74","type":"debug","z":"ae18994d.15a058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":280,"wires":[]},{"id":"aea3a903.138a58","type":"inject","z":"ae18994d.15a058","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"KL","payloadType":"str","x":350,"y":180,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"d7e28da6.6d494","type":"inject","z":"ae18994d.15a058","name":"AN","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AN","payloadType":"str","x":340,"y":240,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"f0d88713.4265b8","type":"function","z":"ae18994d.15a058","name":"buffer to string","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":160,"wires":[["aa63b304.09e74"]]},{"id":"3293062c.1fab6a","type":"inject","z":"ae18994d.15a058","name":"AU","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AU","payloadType":"str","x":330,"y":280,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"80320485.739718","type":"inject","z":"ae18994d.15a058","name":"GO1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GO1","payloadType":"str","x":310,"y":400,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"20115726.400898","type":"inject","z":"ae18994d.15a058","name":"TA","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TA","payloadType":"str","x":310,"y":320,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"3b666f37.4f72a","type":"inject","z":"ae18994d.15a058","name":"GO2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GO2","payloadType":"str","x":310,"y":440,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"d404719f.1284","type":"inject","z":"ae18994d.15a058","name":"GO3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GO3","payloadType":"str","x":310,"y":480,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"b0f244bf.6f68d8","type":"inject","z":"ae18994d.15a058","name":"GO4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GO4","payloadType":"str","x":310,"y":520,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"9edcbbf4.b69c48","type":"inject","z":"ae18994d.15a058","name":"GO5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GO5","payloadType":"str","x":310,"y":560,"wires":[["85a11acd.3be948","529c30fa.1314d"]]},{"id":"529c30fa.1314d","type":"tcp request","z":"ae18994d.15a058","d":true,"server":"172.16.3.83","port":"4647","out":"sit","splitc":" ","name":"","x":660,"y":760,"wires":[["e188d7a0.6b74b8"]]},{"id":"6332815f.81a64","type":"debug","z":"ae18994d.15a058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":760,"wires":[]},{"id":"e188d7a0.6b74b8","type":"function","z":"ae18994d.15a058","name":"buffer to string","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":640,"wires":[["6332815f.81a64"]]},{"id":"1acdb931.d48f97","type":"inject","z":"ae18994d.15a058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ClipR-C1","payload":"TR","payloadType":"str","x":360,"y":120,"wires":[["85a11acd.3be948"]]},{"id":"50907958.5a4448","type":"inject","z":"ae18994d.15a058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ClipR-C2","payload":"PS","payloadType":"str","x":330,"y":760,"wires":[["529c30fa.1314d"]]},{"id":"b180b975.ec2118","type":"inject","z":"dc1701e8.e957a","d":true,"name":"","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sg","payloadType":"str","x":210,"y":380,"wires":[["421265a2.bd094c"]]},{"id":"421265a2.bd094c","type":"telnet-send","z":"dc1701e8.e957a","name":"","connection":"7a98d46a.721b4c","x":490,"y":460,"wires":[]},{"id":"e22366fe.610438","type":"telnet-read","z":"dc1701e8.e957a","name":"","connection":"7a98d46a.721b4c","x":630,"y":500,"wires":[["da0302d3.f68ee","675e3521.1d319c"]]},{"id":"1cd40e79.f10942","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cg SSvid1","payloadType":"str","x":200,"y":420,"wires":[["421265a2.bd094c"]]},{"id":"24067bea.20cda4","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SSvid1 1","payloadType":"str","x":210,"y":640,"wires":[["421265a2.bd094c"]]},{"id":"69e106ee.4cb918","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cg SSvid2","payloadType":"str","x":200,"y":460,"wires":[["421265a2.bd094c"]]},{"id":"f834657a.cfec98","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SSvid2 1","payloadType":"str","x":210,"y":680,"wires":[["421265a2.bd094c"]]},{"id":"8dfd6e00.c87c2","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cg SSvid3","payloadType":"str","x":200,"y":500,"wires":[["421265a2.bd094c"]]},{"id":"3c438fdd.449eb","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cg SSvid4","payloadType":"str","x":200,"y":540,"wires":[["421265a2.bd094c"]]},{"id":"ad47b67d.fe2538","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cg SSvid5","payloadType":"str","x":200,"y":580,"wires":[["421265a2.bd094c"]]},{"id":"fe1a01a3.f1ea6","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SSvid3 1","payloadType":"str","x":210,"y":720,"wires":[["421265a2.bd094c"]]},{"id":"ad487f9d.361bb","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SSvid4 1","payloadType":"str","x":210,"y":760,"wires":[["421265a2.bd094c"]]},{"id":"4a671750.cbd028","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SSvid5 1","payloadType":"str","x":210,"y":800,"wires":[["421265a2.bd094c"]]},{"id":"65ade74f.723048","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" ssl video 4 2","payloadType":"str","x":610,"y":740,"wires":[["421265a2.bd094c"]]},{"id":"19474504.9f723b","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\": \"2.0\",   \"id\": _msgid,   \"method\": \"Control.Get\",   \"params\": [\"ssvid1\"] }","payloadType":"jsonata","x":110,"y":160,"wires":[[]]},{"id":"779ce7ff.9f4168","type":"inject","z":"dc1701e8.e957a","name":"MUTE ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SystemMuteMute 1","payloadType":"str","x":540,"y":680,"wires":[["421265a2.bd094c"]]},{"id":"289d0a01.935296","type":"inject","z":"dc1701e8.e957a","name":"MUTE OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp SystemMuteMute 0","payloadType":"str","x":530,"y":620,"wires":[["421265a2.bd094c"]]},{"id":"1113aade.bfd7f5","type":"mqtt in","z":"dc1701e8.e957a","name":"","topic":"museum/show/video/cue","qos":"2","datatype":"auto","broker":"67f65694.019f98","x":790,"y":860,"wires":[["c73e0fd9.f429e"]]},{"id":"a10b4d8e.6e153","type":"mqtt in","z":"dc1701e8.e957a","d":true,"name":"","topic":"museum/show/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":false,"x":790,"y":780,"wires":[["c83eb192.e9ddb"]]},{"id":"c83eb192.e9ddb","type":"function","z":"dc1701e8.e957a","d":true,"name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"csp SystemMuteMute 1\"\n} else {\n    msg.payload = \"csp SystemMuteMute 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":780,"wires":[["421265a2.bd094c","87b02357.d7c04"]]},{"id":"87b02357.d7c04","type":"debug","z":"dc1701e8.e957a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":820,"wires":[]},{"id":"c73e0fd9.f429e","type":"function","z":"dc1701e8.e957a","d":true,"name":"","func":"if(msg.payload === \"2\") {\n    msg.payload = \"csp SSvid2 1\"\n}\nif(msg.payload === \"4\") {\n    msg.payload = \"csp SSvid1 1\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":860,"wires":[["421265a2.bd094c","87b02357.d7c04"]]},{"id":"aad95193.f476e","type":"mqtt in","z":"dc1701e8.e957a","d":true,"name":"","topic":"museum/show/status","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":false,"x":780,"y":940,"wires":[["961b6610.2b1ed8"]]},{"id":"961b6610.2b1ed8","type":"function","z":"dc1701e8.e957a","d":true,"name":"","func":"if(msg.payload === \"off\") {\n    msg.payload = \"csp SystemMuteMute 1\"\n} else {\n    msg.payload = \"csp SystemMuteMute 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":940,"wires":[["87b02357.d7c04","421265a2.bd094c"]]},{"id":"ae1ffc6a.07591","type":"inject","z":"dc1701e8.e957a","d":true,"name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cg SystemMuteMute","payloadType":"str","x":240,"y":300,"wires":[["421265a2.bd094c"]]},{"id":"a73fa600.6f6228","type":"function","z":"dc1701e8.e957a","name":"","func":"msg.payload = {\"name\":\"Audio\", \"status\" : true}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":280,"wires":[["da0302d3.f68ee","4498bcf3.7160e4"]]},{"id":"4498bcf3.7160e4","type":"mqtt out","z":"dc1701e8.e957a","name":"","topic":"museum/show/devices/status","qos":"2","retain":"true","broker":"67f65694.019f98","x":1140,"y":220,"wires":[]},{"id":"517b73e2.731c5c","type":"switch","z":"dc1701e8.e957a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"unmuted","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":220,"wires":[["a73fa600.6f6228"],["67ea84db.474cec"]]},{"id":"67ea84db.474cec","type":"function","z":"dc1701e8.e957a","name":"","func":"msg.payload = {\"name\":\"Audio\", \"status\" : false}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["da0302d3.f68ee","4498bcf3.7160e4"]]},{"id":"675e3521.1d319c","type":"switch","z":"dc1701e8.e957a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SystemMuteMute","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":360,"wires":[["517b73e2.731c5c"],["da0302d3.f68ee"]]},{"id":"16f4928c.35bd6d","type":"inject","z":"dc1701e8.e957a","name":"PN ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp PinkNoiseGeneratorMute 0","payloadType":"str","x":490,"y":280,"wires":[["421265a2.bd094c"]]},{"id":"6dfa288b.dd0208","type":"inject","z":"dc1701e8.e957a","name":"PN OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp PinkNoiseGeneratorMute 1","payloadType":"str","x":480,"y":320,"wires":[["421265a2.bd094c"]]},{"id":"f08e3dcd.396e2","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{WDFaderUp(1,2)}","payloadType":"str","x":310,"y":220,"wires":[["455ee927.b45098"]]},{"id":"455ee927.b45098","type":"tcp request","z":"d77c9cc4.8b91","d":true,"server":"172.16.3.169","port":"1071","out":"sit","splitc":" ","name":"","x":600,"y":340,"wires":[["bd113374.2fccc"]]},{"id":"8f0a3e76.26568","type":"debug","z":"d77c9cc4.8b91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":360,"wires":[]},{"id":"8bd1c483.7f1be8","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{WDFaderDown(1,2)}","payloadType":"str","x":300,"y":300,"wires":[["455ee927.b45098"]]},{"id":"7990a8fb.1d0fd8","type":"inject","z":"d77c9cc4.8b91","name":"Show Start ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{WDCustomScriptClick(5)}","payloadType":"str","x":240,"y":380,"wires":[["455ee927.b45098"]]},{"id":"7d77f71e.f04cb8","type":"inject","z":"d77c9cc4.8b91","name":"Show Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{WDCustomScriptClick(8)}","payloadType":"str","x":240,"y":420,"wires":[["455ee927.b45098"]]},{"id":"bd113374.2fccc","type":"function","z":"d77c9cc4.8b91","name":"buffer to string","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":200,"wires":[["8f0a3e76.26568"]]},{"id":"29088ad4.ddaab6","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fullscreenAll","payloadType":"str","x":370,"y":600,"wires":[[]]},{"id":"a1192bd7.0cd618","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"windowedAll","payloadType":"str","x":370,"y":660,"wires":[[]]},{"id":"3a928583.4954aa","type":"debug","z":"d77c9cc4.8b91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"67e08c5c.599a44","type":"udp in","z":"d77c9cc4.8b91","d":true,"name":"","iface":"","port":"1885","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":480,"wires":[["e360130.b6d3cf"]]},{"id":"8f1e6c47.1e1a1","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/ANTHEM/start,","payloadType":"str","x":110,"y":700,"wires":[["e360130.b6d3cf"]]},{"id":"3c36e1d8.7b179e","type":"inject","z":"d77c9cc4.8b91","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/ANTHEM/pause,","payloadType":"str","x":120,"y":600,"wires":[["e360130.b6d3cf"]]},{"id":"ae385784.40a588","type":"debug","z":"d77c9cc4.8b91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":480,"wires":[]},{"id":"e360130.b6d3cf","type":"change","z":"d77c9cc4.8b91","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"start","fromt":"str","to":"{WDCustomScriptClick(5)}","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"pause","fromt":"str","to":"{WDCustomScriptClick(8)}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[["455ee927.b45098"]]},{"id":"81c377d1.4cd388","type":"debug","z":"811c6360.5f932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":320,"wires":[]},{"id":"17828a27.fc8ec6","type":"inject","z":"811c6360.5f932","name":"","props":[{"p":"payload"}],"repeat":"1800","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":230,"y":120,"wires":[["97c17f60.4fe1f"]]},{"id":"e4839134.8c668","type":"function","z":"811c6360.5f932","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":220,"wires":[["81c377d1.4cd388"]]},{"id":"9f183ae9.7188a8","type":"inject","z":"811c6360.5f932","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C06","payloadType":"str","x":230,"y":200,"wires":[[]]},{"id":"c540d2cd.5d80d","type":"telnet-send","z":"811c6360.5f932","d":true,"name":"","connection":"92cc03bd.cd2dc","x":630,"y":100,"wires":[]},{"id":"3c6240c3.29c0f","type":"telnet-read","z":"811c6360.5f932","d":true,"name":"","connection":"92cc03bd.cd2dc","x":730,"y":240,"wires":[["81c377d1.4cd388"]]},{"id":"97c17f60.4fe1f","type":"function","z":"811c6360.5f932","name":"","func":"\n\nsetTimeout(function(){\n    node.status({fill:\"green\", shape:\"ring\", text:\"connected\"});\n    msg['payload'] = '0000';\n    node.send(msg);\n}, 2000);\n\nnode.status({fill:\"blue\", shape:\"ring\", text:'connecting'});\nmsg['payload'] = 'connecting';\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["c540d2cd.5d80d"]]},{"id":"8eb961ca.12d48","type":"inject","z":"811c6360.5f932","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C05","payloadType":"str","x":220,"y":260,"wires":[[]]},{"id":"7941bd73.131a14","type":"debug","z":"811c6360.5f932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":440,"wires":[]},{"id":"e215875e.868bd8","type":"inject","z":"811c6360.5f932","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C00","payloadType":"str","x":220,"y":340,"wires":[["8b4716e6.95aa98"]]},{"id":"f8f3775a.5e4a68","type":"inject","z":"811c6360.5f932","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C01","payloadType":"str","x":210,"y":380,"wires":[["8b4716e6.95aa98"]]},{"id":"99074a56.340488","type":"function","z":"811c6360.5f932","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"C00\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"C01\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[[]]},{"id":"dfb5f210.20d31","type":"mqtt in","z":"811c6360.5f932","name":"","topic":"museum/show/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":140,"y":500,"wires":[["99074a56.340488"]]},{"id":"37a6c1df.6dcc4e","type":"inject","z":"811c6360.5f932","name":"Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CR0","payloadType":"str","x":210,"y":420,"wires":[["8b4716e6.95aa98"]]},{"id":"8b4716e6.95aa98","type":"function","z":"811c6360.5f932","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["c540d2cd.5d80d"]]},{"id":"3c063908.d2a366","type":"nec-monitor","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"TH4-S2-NEC","ip":"172.16.3.81","x":420,"y":600,"wires":[["6a85add.c80d554"]]},{"id":"d290b662.6a6fa8","type":"inject","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":170,"y":580,"wires":[["3c063908.d2a366"]]},{"id":"bbfd868f.a11498","type":"inject","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":170,"y":540,"wires":[["3c063908.d2a366"]]},{"id":"94360c1.5385ff","type":"inject","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":160,"y":620,"wires":[["3c063908.d2a366"]]},{"id":"6a85add.c80d554","type":"debug","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"GW-TH4-S2-NEC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":560,"wires":[]},{"id":"4bbc5984.c59428","type":"samsung-monitor","z":"be8501b9.5dcf","d":true,"name":"Samsung Monitor","ip":"172.16.2.142","x":2820,"y":100,"wires":[["9292a379.c25d7"]]},{"id":"896a0bea.313118","type":"inject","z":"be8501b9.5dcf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":2600,"y":100,"wires":[["4bbc5984.c59428"]]},{"id":"9a7adeb1.bf604","type":"inject","z":"be8501b9.5dcf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":2600,"y":60,"wires":[["4bbc5984.c59428"]]},{"id":"43ce5aa2.793e44","type":"inject","z":"be8501b9.5dcf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":2590,"y":140,"wires":[["4bbc5984.c59428"]]},{"id":"9292a379.c25d7","type":"debug","z":"be8501b9.5dcf","name":"Samsung","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3060,"y":120,"wires":[]},{"id":"b6d75bd8.896658","type":"tcp request","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","server":"172.16.2.142","port":"1515","out":"sit","splitc":" ","name":"TH4-S1-SAMSUNG","x":400,"y":200,"wires":[["6bca8a38.c839f4","c247ac13.c5139"]]},{"id":"e3e31379.607b8","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","payloadType":"bin","x":170,"y":220,"wires":[["b6d75bd8.896658"]]},{"id":"e5d9e5df.739db8","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x00\",\"0x012\"]","payloadType":"bin","x":150,"y":260,"wires":[["b6d75bd8.896658"]]},{"id":"972f3d22.9462","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","payloadType":"bin","x":170,"y":180,"wires":[["b6d75bd8.896658"]]},{"id":"b2809d81.3a77a","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":150,"y":340,"wires":[["b6d75bd8.896658"]]},{"id":"a73d8305.7d253","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":150,"y":380,"wires":[["b6d75bd8.896658"]]},{"id":"f2ce75ce.f3f4f8","type":"inject","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":150,"y":300,"wires":[["b6d75bd8.896658"]]},{"id":"6bca8a38.c839f4","type":"debug","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"TH4-S1-SAMSUNG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":320,"wires":[]},{"id":"4f468c25.dee344","type":"nec-monitor","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"TH4-S3-NEC","ip":"172.16.3.231","x":460,"y":840,"wires":[["c91aed6b.c74e2"]]},{"id":"435bdcef.3ba824","type":"inject","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":190,"y":820,"wires":[["4f468c25.dee344"]]},{"id":"a3c63fc6.b5f45","type":"inject","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":190,"y":780,"wires":[["4f468c25.dee344"]]},{"id":"df14d87f.338188","type":"inject","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":180,"y":860,"wires":[["4f468c25.dee344"]]},{"id":"c91aed6b.c74e2","type":"debug","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"GW-TH4-S3-NEC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":780,"wires":[]},{"id":"87c81302.d1d08","type":"tcp request","z":"be8501b9.5dcf","g":"e23e0ce0.48106","server":"172.16.2.134","port":"1515","out":"sit","splitc":" ","name":"TH4-S4-SAMSUNG","x":480,"y":1120,"wires":[["8aae6107.601c9"]]},{"id":"b22b8c90.13856","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","payloadType":"bin","x":190,"y":1080,"wires":[["87c81302.d1d08"]]},{"id":"555af4c2.1d882c","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x00\",\"0x012\"]","payloadType":"bin","x":170,"y":1120,"wires":[["87c81302.d1d08"]]},{"id":"c1d7844d.8b47c8","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","payloadType":"bin","x":190,"y":1040,"wires":[["87c81302.d1d08"]]},{"id":"e8198af9.414678","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":230,"y":1220,"wires":[["87c81302.d1d08"]]},{"id":"49e58ec1.0d43c","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":190,"y":1260,"wires":[["87c81302.d1d08"]]},{"id":"d7a4b4ec.da1bb8","type":"inject","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":230,"y":1180,"wires":[["87c81302.d1d08"]]},{"id":"ec835be7.a22568","type":"tcp request","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","server":"172.16.2.147","port":"1515","out":"sit","splitc":" ","name":"TH4-S5-SAMSUNG","x":1220,"y":220,"wires":[["4160d005.303df"]]},{"id":"c844ae07.1c59a","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","payloadType":"bin","x":930,"y":180,"wires":[["ec835be7.a22568"]]},{"id":"ab0c051f.ecb948","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x00\",\"0x012\"]","payloadType":"bin","x":910,"y":220,"wires":[["ec835be7.a22568"]]},{"id":"4477d24f.3a19dc","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","payloadType":"bin","x":930,"y":140,"wires":[["ec835be7.a22568"]]},{"id":"2adb8f8c.15835","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":970,"y":320,"wires":[["ec835be7.a22568"]]},{"id":"3a995aa9.2fc706","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":930,"y":360,"wires":[["ec835be7.a22568"]]},{"id":"3312a27.e4bd25e","type":"inject","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":970,"y":280,"wires":[["ec835be7.a22568"]]},{"id":"75e9d899.0d7fa8","type":"debug","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"GW-TH4-S5-SAMSUNG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":320,"wires":[]},{"id":"4f7517e2.e34828","type":"nec-monitor","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"TH4-S6-NEC","ip":"172.16.3.102","x":1320,"y":600,"wires":[["55e94dbc.7a44f4"]]},{"id":"d467f36e.436b9","type":"inject","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":990,"y":560,"wires":[["4f7517e2.e34828"]]},{"id":"8966ac25.5ea37","type":"inject","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":990,"y":520,"wires":[["4f7517e2.e34828"]]},{"id":"167b2b9.cc1eed4","type":"inject","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":980,"y":600,"wires":[["4f7517e2.e34828"]]},{"id":"55e94dbc.7a44f4","type":"debug","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"GW-TH4-S6-NEC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":540,"wires":[]},{"id":"f0de268.b8240d8","type":"pjlink-projector","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"PJLink","ip":"172.16.2.151","port":4352,"password":"","x":400,"y":240,"wires":[["6dbc6bb0.b0b204"]]},{"id":"ce140b3.918b1f8","type":"inject","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":160,"y":260,"wires":[["f0de268.b8240d8"]]},{"id":"c986df3f.be8e3","type":"inject","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":160,"y":220,"wires":[["f0de268.b8240d8"]]},{"id":"7c35d973.281318","type":"inject","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":190,"y":300,"wires":[["f0de268.b8240d8"]]},{"id":"6dbc6bb0.b0b204","type":"debug","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"PJ STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"d0fbbcaa.4e0ee","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":210,"y":600,"wires":[["d255d81a.5c2338"]]},{"id":"62cc9aa.bfd6c64","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":190,"y":800,"wires":[["d255d81a.5c2338"]]},{"id":"cb799b5.b458168","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":190,"y":840,"wires":[["d255d81a.5c2338"]]},{"id":"40293496.249a4c","type":"tcp request","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","server":"172.16.0.62","port":"4998","out":"sit","splitc":" \\n","name":"TH4 RELAY-LB-BEETRON","x":620,"y":640,"wires":[["fa28444e.5dc118"]]},{"id":"6a06544d.c7b80c","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":210,"y":700,"wires":[["d255d81a.5c2338"]]},{"id":"5314b4f3.246d8c","type":"comment","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"GW-TH4-LB-BETRON-RELAY","info":"","x":500,"y":520,"wires":[]},{"id":"328a3c17.fef624","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":210,"y":660,"wires":[["d255d81a.5c2338"]]},{"id":"edc8b718.be55b8","type":"inject","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":210,"y":740,"wires":[["d255d81a.5c2338"]]},{"id":"d255d81a.5c2338","type":"function","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":640,"wires":[["40293496.249a4c"]]},{"id":"f560662.8797298","type":"debug","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"GW-TH4-LB-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":780,"wires":[]},{"id":"fa28444e.5dc118","type":"function","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":700,"wires":[["f560662.8797298"]]},{"id":"2c7bc3f4.42ae3c","type":"tcp request","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","server":"172.16.0.208","port":"4998","out":"sit","splitc":"\\x0D","name":"Serial Control","x":440,"y":2080,"wires":[["b9436e01.ce796"]]},{"id":"80935ad5.c038e8","type":"function","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2020,"wires":[["2c7bc3f4.42ae3c"]]},{"id":"67698b97.9b2034","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_SERIAL,1:1","payloadType":"str","x":140,"y":2000,"wires":[["80935ad5.c038e8"]]},{"id":"b65d58a3.9996a8","type":"tcp request","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","server":"172.16.0.208","port":"4999","out":"sit","splitc":" ","name":"Serial Send/Rec","x":420,"y":2180,"wires":[["f7ca5293.59825","367e3818.2f6b18"]]},{"id":"9a4a8e97.621f9","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getdevices","payloadType":"str","x":140,"y":1960,"wires":[["80935ad5.c038e8"]]},{"id":"594018eb.5671c8","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x02\",\"0xD4\"]","payloadType":"bin","x":170,"y":2100,"wires":[["b65d58a3.9996a8"]]},{"id":"a693e2cb.8b966","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0xf0\",\"0x00\",\"0x00\",\"0x00\",\"0xf6\"]","payloadType":"bin","x":150,"y":2140,"wires":[["b65d58a3.9996a8"]]},{"id":"f7fd4c10.65969","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x01\",\"0xD5\"]","payloadType":"bin","x":170,"y":2060,"wires":[["b65d58a3.9996a8"]]},{"id":"e80ce772.dcb558","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":210,"y":2240,"wires":[["b65d58a3.9996a8"]]},{"id":"58a6788f.5711d8","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":170,"y":2280,"wires":[["b65d58a3.9996a8"]]},{"id":"850f9a6b.c5ac08","type":"inject","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":210,"y":2200,"wires":[["b65d58a3.9996a8"]]},{"id":"8276fac0.3c7658","type":"comment","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"GW-T2-UV-Sam Con 75","info":"","x":390,"y":1740,"wires":[]},{"id":"4c6e962e.dac0d8","type":"debug","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"GW-T2-UV- Global Cache Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":2040,"wires":[]},{"id":"b9436e01.ce796","type":"function","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1980,"wires":[["4c6e962e.dac0d8"]]},{"id":"367e3818.2f6b18","type":"debug","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"GW-T2-UV-Sam75","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":2180,"wires":[]},{"id":"f7ca5293.59825","type":"function","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"Buffer Sort","func":"if (msg.payload.length=== 3 && msg.payload[0] === 0x3 )  {\n    msg.mk=\"Samsung\"\n    msg.in=\"on\"\n    return [msg,null,null];\n}\nif (msg.payload.length=== 1 &&  msg.payload[0] === 0x0)  {\n    msg.mk=\"Samsung\"\n    msg.in=\"off\"\n    return [null,msg,null];\n}\n\nelse \nreturn [null,null,msg]\nreturn msg\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":650,"y":2080,"wires":[["367e3818.2f6b18"],["367e3818.2f6b18"],[]]},{"id":"aa480697.31bce8","type":"tcp request","z":"be8501b9.5dcf","g":"b0133d15.00dc9","server":"172.16.0.165","port":"4998","out":"sit","splitc":"\\x0D","name":"Serial Control","x":460,"y":2660,"wires":[["1d2f68d3.2344a7"]]},{"id":"3bfe2711.623ed8","type":"function","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2600,"wires":[["aa480697.31bce8"]]},{"id":"45e8a5a9.77b14c","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_SERIAL,1:1","payloadType":"str","x":160,"y":2580,"wires":[["3bfe2711.623ed8"]]},{"id":"8a2a53e8.efb24","type":"tcp request","z":"be8501b9.5dcf","g":"b0133d15.00dc9","server":"172.16.0.165","port":"4999","out":"sit","splitc":" ","name":"Serial Send/Rec","x":460,"y":2760,"wires":[["15dde01a.db262"]]},{"id":"8a1198f.be6ef68","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getdevices","payloadType":"str","x":160,"y":2540,"wires":[["3bfe2711.623ed8"]]},{"id":"8b524614.274818","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x02\",\"0xD4\"]","payloadType":"bin","x":190,"y":2680,"wires":[["8a2a53e8.efb24"]]},{"id":"9ba84231.1b10a","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0xf0\",\"0x00\",\"0x00\",\"0x00\",\"0xf6\"]","payloadType":"bin","x":170,"y":2720,"wires":[["8a2a53e8.efb24"]]},{"id":"b0980b41.137668","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x01\",\"0xD5\"]","payloadType":"bin","x":190,"y":2640,"wires":[["8a2a53e8.efb24"]]},{"id":"d501f7fc.8e5478","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":230,"y":2820,"wires":[["8a2a53e8.efb24"]]},{"id":"98c5cdfb.1f41a","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":190,"y":2860,"wires":[["8a2a53e8.efb24"]]},{"id":"ec453d43.15fdc","type":"inject","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":230,"y":2780,"wires":[["8a2a53e8.efb24"]]},{"id":"8735bfe7.e3b48","type":"comment","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"GW-T4-21-Sam Con 75","info":"","x":420,"y":2360,"wires":[]},{"id":"921c33e6.e3b33","type":"debug","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"GW-T4-21-SAM-GC SERIAL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":2660,"wires":[]},{"id":"1d2f68d3.2344a7","type":"function","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2560,"wires":[["921c33e6.e3b33"]]},{"id":"15dde01a.db262","type":"debug","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"GW-T4-21-SAM-CON 75","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":2720,"wires":[]},{"id":"29db9ccc.d862a4","type":"inject","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"Lamp Hours","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(LIF+LP1H?)","payloadType":"str","x":170,"y":1000,"wires":[["173678c4.46bd57"]]},{"id":"e065afae.169cf","type":"inject","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(VRT 33)","payloadType":"str","x":160,"y":1160,"wires":[["173678c4.46bd57"]]},{"id":"25d736ef.2a92ea","type":"tcp request","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","server":"172.16.0.161","port":"4998","out":"sit","splitc":" \\n","name":"T2 RELAY-CRT","x":1280,"y":640,"wires":[["1a22db9f.33dff4"]]},{"id":"a461dbae.8bfd48","type":"tcp request","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","server":"172.16.0.118","port":"4998","out":"sit","splitc":" \\n","name":"T2 RELAY-CROWD","x":1310,"y":200,"wires":[["5df2160b.7f2f98"]]},{"id":"503faedd.48c76","type":"pjlink-projector","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"PJLink","ip":"172.16.3.39","port":4352,"password":"","x":460,"y":500,"wires":[["e13c8bf.a94f878"]]},{"id":"a3357314.e2888","type":"inject","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":180,"y":500,"wires":[["503faedd.48c76"]]},{"id":"e49e787d.e24558","type":"inject","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":180,"y":460,"wires":[["503faedd.48c76"]]},{"id":"b5d629e5.442c98","type":"inject","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":210,"y":540,"wires":[["503faedd.48c76"]]},{"id":"e13c8bf.a94f878","type":"debug","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"PJ STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":480,"wires":[]},{"id":"58782cc0.e02e24","type":"pjlink-projector","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"PJLink","ip":"172.16.2.153","port":4352,"password":"panasonic","x":400,"y":1320,"wires":[["b7ed3f41.976b2"]]},{"id":"3d731e9d.5d6bf2","type":"inject","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":160,"y":1340,"wires":[["58782cc0.e02e24"]]},{"id":"5f26fa92.c7efb4","type":"inject","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":160,"y":1300,"wires":[["58782cc0.e02e24"]]},{"id":"486c6255.2b025c","type":"inject","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":190,"y":1380,"wires":[["58782cc0.e02e24"]]},{"id":"b7ed3f41.976b2","type":"debug","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"PJ STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1320,"wires":[]},{"id":"28e75fa7.03459","type":"nec-monitor","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"TH2-FL-L-NEC","ip":"172.16.3.95","x":560,"y":1540,"wires":[["67581f01.14e6b"]]},{"id":"4c6faaf0.4d22b4","type":"inject","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":290,"y":1560,"wires":[["28e75fa7.03459"]]},{"id":"3ac82abd.471316","type":"inject","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":290,"y":1520,"wires":[["28e75fa7.03459"]]},{"id":"ddae5956.361658","type":"inject","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":280,"y":1600,"wires":[["28e75fa7.03459"]]},{"id":"67581f01.14e6b","type":"debug","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"GW-T2-FL-L-NEC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1600,"wires":[]},{"id":"c3dc27f2.428e08","type":"nec-monitor","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"TH2-FL-R-NEC","ip":"172.16.3.96","x":1140,"y":1520,"wires":[["fcc9890c.9aa228"]]},{"id":"677fcf7e.c04ba","type":"inject","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":870,"y":1560,"wires":[["c3dc27f2.428e08"]]},{"id":"e4462281.e6ea6","type":"inject","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":870,"y":1520,"wires":[["c3dc27f2.428e08"]]},{"id":"22958aeb.2255a6","type":"inject","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":860,"y":1600,"wires":[["c3dc27f2.428e08"]]},{"id":"fcc9890c.9aa228","type":"debug","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"GW-T2-FL-R-NEC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":1580,"wires":[]},{"id":"182039ef.1bcf76","type":"switch","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1860,"wires":[["c5b11e9c.11306"],["39d805de.a48dda"]]},{"id":"c5b11e9c.11306","type":"change","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x02\",\"0xD4\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1860,"wires":[["b65d58a3.9996a8"]]},{"id":"39d805de.a48dda","type":"change","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x01\",\"0xD5\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1900,"wires":[["b65d58a3.9996a8"]]},{"id":"dc4981f2.99114","type":"tcp request","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","server":"172.16.3.43","port":"4998","out":"sit","splitc":" \\n","name":"T5 RELAY-CRT?","x":2010,"y":200,"wires":[["eb45e179.8e0bf"]]},{"id":"ccc96d87.ce7d8","type":"function","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"on--->pwr 1  off---> pwr 0","func":"if(msg.payload === \"on\") {\n    msg.payload = \"(PWR 1)\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"(PWR 0)\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":940,"wires":[["173678c4.46bd57","cc534890.7029c8"]]},{"id":"e3b1886c.7f2728","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"INPUT SOURCE 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x09\",\"0x00\"]","payloadType":"bin","x":1510,"y":2180,"wires":[["3da5a6e2.4bee8a"]]},{"id":"3da5a6e2.4bee8a","type":"tcp request","z":"be8501b9.5dcf","g":"31a81f87.5bed7","server":"172.16.3.248","port":"52000","out":"sit","splitc":" ","name":"GW-TH4-NG-SONANCE","x":1410,"y":2420,"wires":[["b968bed2.d4001"]]},{"id":"f007cb7e.029338","type":"debug","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"GW-TH4-NG-Sonance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":2500,"wires":[]},{"id":"2029a9db.f71ba6","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"STATUS","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x70\"]","payloadType":"bin","x":1500,"y":2220,"wires":[["3da5a6e2.4bee8a"]]},{"id":"b968bed2.d4001","type":"function","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":2480,"wires":[["f007cb7e.029338"]]},{"id":"3ae0bb48.08e0c4","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Volume STATUS","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x10\",\"0x00\"]","payloadType":"bin","x":1720,"y":2200,"wires":[["3da5a6e2.4bee8a"]]},{"id":"a767d04a.37c05","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"POWER ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x01\"]","payloadType":"bin","x":1710,"y":2240,"wires":[["3da5a6e2.4bee8a"]]},{"id":"9ade120f.1791c","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"POWER OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x02\"]","payloadType":"bin","x":1710,"y":2280,"wires":[["3da5a6e2.4bee8a"]]},{"id":"152eb642.bcec4a","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Volume DOWN","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x05\",\"0x00\"]","payloadType":"bin","x":1720,"y":2320,"wires":[["3da5a6e2.4bee8a"]]},{"id":"ea35cd32.31121","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Volume UP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x04\",\"0x00\"]","payloadType":"bin","x":1700,"y":2360,"wires":[["3da5a6e2.4bee8a"]]},{"id":"ec68a226.fae52","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Volume -70","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x71\"]","payloadType":"bin","x":1710,"y":2400,"wires":[["3da5a6e2.4bee8a"]]},{"id":"86d53d01.89ccc","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"Volume -25","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x9D\"]","payloadType":"bin","x":1710,"y":2440,"wires":[["3da5a6e2.4bee8a"]]},{"id":"93857a89.0e1e28","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"MUTE ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x07\",\"0x00\"]","payloadType":"bin","x":1500,"y":2260,"wires":[["3da5a6e2.4bee8a"]]},{"id":"c45aa14d.ff206","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"MUTE OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x08\",\"0x00\"]","payloadType":"bin","x":1510,"y":2300,"wires":[["3da5a6e2.4bee8a"]]},{"id":"ec0b5e55.bb0cc","type":"inject","z":"be8501b9.5dcf","g":"31a81f87.5bed7","name":"MUTE?","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x12\",\"0x00\"]","payloadType":"bin","x":1490,"y":2340,"wires":[["3da5a6e2.4bee8a"]]},{"id":"f40aa760.ef3bb8","type":"pjlink-projector","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"PJLink","ip":"172.16.3.78","port":4352,"password":"panasonic","x":420,"y":720,"wires":[["d76963d2.5e4ae"]]},{"id":"d6bfe70c.eaef68","type":"inject","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":160,"y":740,"wires":[["f40aa760.ef3bb8"]]},{"id":"e6a34329.aba2","type":"inject","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":160,"y":700,"wires":[["f40aa760.ef3bb8"]]},{"id":"d8d0e5d1.bfe298","type":"inject","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":190,"y":780,"wires":[["f40aa760.ef3bb8"]]},{"id":"d76963d2.5e4ae","type":"debug","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"PJ STATUS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":720,"wires":[]},{"id":"77557404.429b7c","type":"function","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["3c063908.d2a366"]]},{"id":"cacc4021.4290b","type":"mqtt in","z":"be8501b9.5dcf","g":"d3c030bb.b06e","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":220,"y":480,"wires":[["77557404.429b7c"]]},{"id":"ce78aa06.b98e58","type":"function","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":780,"wires":[["4f468c25.dee344"]]},{"id":"1e8758cc.7b0e47","type":"mqtt in","z":"be8501b9.5dcf","g":"15b7037f.07995d","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":720,"wires":[["ce78aa06.b98e58"]]},{"id":"2fb55a5.06a2ca6","type":"function","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":520,"wires":[["4f7517e2.e34828"]]},{"id":"2a67b86d.0d0eb8","type":"mqtt in","z":"be8501b9.5dcf","g":"121b02df.2119ed","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":990,"y":460,"wires":[["2fb55a5.06a2ca6"]]},{"id":"8b518e89.094","type":"function","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1460,"wires":[["28e75fa7.03459"]]},{"id":"114a70ff.be573f","type":"mqtt in","z":"be8501b9.5dcf","g":"e6aee294.909f6","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":270,"y":1460,"wires":[["8b518e89.094"]]},{"id":"d93d7a86.745678","type":"function","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1460,"wires":[["c3dc27f2.428e08"]]},{"id":"65e5c55b.bf708c","type":"mqtt in","z":"be8501b9.5dcf","g":"8c7f1a32.b7e488","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":910,"y":1460,"wires":[["d93d7a86.745678"]]},{"id":"1d6fe70d.e82e29","type":"function","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"If False, Else True","func":"if (msg.payload[6]== 1 )  {\nmsg.payload=true;\nreturn msg\n}\nelse {\nmsg.payload=false\nreturn msg\n}\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":260,"wires":[["6bca8a38.c839f4"]]},{"id":"c247ac13.c5139","type":"function","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"Buffer Sort","func":"if (msg.payload.length== 8 && msg.payload[0] == 0xaa )  {\n    msg.mk=\"Samsung\"\n    msg.in=\"status?/on\"\n    return [msg,null,null];\n}\nif (msg.payload.length== 16 &&  msg.payload[0] == 0xaa)  {\n    msg.mk=\"Samsung\"\n    msg.in=\"off\"\n    return [null,msg,null];\n}\n\nelse \nreturn [null,null,msg]\nreturn msg\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":180,"wires":[["1d6fe70d.e82e29"],["1d6fe70d.e82e29"],[]]},{"id":"6c2a3936.321458","type":"mqtt in","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":140,"wires":[["47cb001b.f6a49"]]},{"id":"47cb001b.f6a49","type":"function","z":"60f372c8.e62cbc","g":"3200878.a242478","name":"ON--->powerOn   off---->poweroff","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["f0de268.b8240d8"]]},{"id":"3b49e8ba.0adff8","type":"mqtt in","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":940,"wires":[["ccc96d87.ce7d8"]]},{"id":"eecb1e38.b9ab2","type":"mqtt in","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":400,"wires":[["fe1835ca.871b68"]]},{"id":"fe1835ca.871b68","type":"function","z":"60f372c8.e62cbc","g":"925a1e2a.2961c","name":"ON--->powerOn   off---->poweroff","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":400,"wires":[["503faedd.48c76"]]},{"id":"a3afe73f.7294c8","type":"mqtt in","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":1240,"wires":[["94e530d2.17538"]]},{"id":"94e530d2.17538","type":"function","z":"60f372c8.e62cbc","g":"469ffdc5.7e3594","name":"ON--->powerOn   off---->poweroff","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1240,"wires":[["58782cc0.e02e24"]]},{"id":"ed8bfd52.6e345","type":"mqtt in","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":640,"wires":[["67d660b4.d5438"]]},{"id":"67d660b4.d5438","type":"function","z":"60f372c8.e62cbc","g":"64e5b809.af4da8","name":"ON--->powerOn   off---->poweroff","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":640,"wires":[["f40aa760.ef3bb8"]]},{"id":"173678c4.46bd57","type":"tcp request","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","server":"172.16.1.46","port":"3002","out":"sit","splitc":" ","name":"Christie DHD-600G t4- FH","x":420,"y":1000,"wires":[["f3ea5741.b001e8"]]},{"id":"7e45e542.81ad1c","type":"comment","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"Christie T4- FH","info":"","x":320,"y":900,"wires":[]},{"id":"92d98a05.c864a8","type":"debug","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"GW-T4-FH-CHR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1060,"wires":[]},{"id":"c1e202c9.1800d","type":"inject","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(PWR?)","payloadType":"str","x":150,"y":1040,"wires":[["173678c4.46bd57"]]},{"id":"f3ea5741.b001e8","type":"function","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1060,"wires":[["92d98a05.c864a8"]]},{"id":"8f9ded7b.9ba5a","type":"inject","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(PWR 0)","payloadType":"str","x":150,"y":1080,"wires":[["173678c4.46bd57","cc534890.7029c8"]]},{"id":"1aa926ce.a29ca9","type":"inject","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(PWR 1)","payloadType":"str","x":150,"y":1120,"wires":[["173678c4.46bd57","cc534890.7029c8"]]},{"id":"26e3cfa8.e80ef","type":"mqtt in","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":520,"wires":[["78b9d709.34f528"]]},{"id":"78b9d709.34f528","type":"function","z":"3b99a9a.f0c4956","g":"b5fa7db9.12881","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[["d255d81a.5c2338"]]},{"id":"633d2873.69be28","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":930,"y":600,"wires":[["cc27a656.3ded38"]]},{"id":"d8456594.cdefd8","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":910,"y":800,"wires":[["cc27a656.3ded38"]]},{"id":"dd7b40cc.2926","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":910,"y":840,"wires":[["cc27a656.3ded38"]]},{"id":"426986a.d9cbb78","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":930,"y":700,"wires":[["cc27a656.3ded38"]]},{"id":"37353dbe.0a9c52","type":"comment","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"GW-T2-CRT-RELAY","info":"","x":1190,"y":520,"wires":[]},{"id":"23949e21.eab042","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":930,"y":660,"wires":[["cc27a656.3ded38"]]},{"id":"c4b641a0.6b1a8","type":"inject","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":930,"y":740,"wires":[["cc27a656.3ded38"]]},{"id":"cc27a656.3ded38","type":"function","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":640,"wires":[["25d736ef.2a92ea"]]},{"id":"19221624.4ec93a","type":"debug","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"GW-T2-CRT-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1240,"y":800,"wires":[]},{"id":"1a22db9f.33dff4","type":"function","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":720,"wires":[["19221624.4ec93a"]]},{"id":"bf71ed79.22d09","type":"mqtt in","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":910,"y":520,"wires":[["4caca1d4.b2dec"]]},{"id":"4caca1d4.b2dec","type":"function","z":"3b99a9a.f0c4956","g":"ec1901a3.6f6a2","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":580,"wires":[["cc27a656.3ded38"]]},{"id":"d8e0a8fe.4ac6a8","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":930,"y":160,"wires":[["c1107989.5025c8"]]},{"id":"d9d87276.d9b69","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":910,"y":360,"wires":[["c1107989.5025c8"]]},{"id":"70dc08e4.58c978","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":910,"y":400,"wires":[["c1107989.5025c8"]]},{"id":"eb847885.152898","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":930,"y":260,"wires":[["c1107989.5025c8"]]},{"id":"ca428aa2.6b2c18","type":"comment","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"GW-T2-DP-RELAY","info":"","x":1190,"y":80,"wires":[]},{"id":"c4206fcc.08fa","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":930,"y":220,"wires":[["c1107989.5025c8"]]},{"id":"c1b88f9f.f3235","type":"inject","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":930,"y":300,"wires":[["c1107989.5025c8"]]},{"id":"c1107989.5025c8","type":"function","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[["a461dbae.8bfd48"]]},{"id":"998cd332.aebdb","type":"debug","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"GW-T2-DP-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":360,"wires":[]},{"id":"5df2160b.7f2f98","type":"function","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":280,"wires":[["998cd332.aebdb"]]},{"id":"f779d466.176d08","type":"mqtt in","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":910,"y":80,"wires":[["29c70b07.6f7114"]]},{"id":"29c70b07.6f7114","type":"function","z":"3b99a9a.f0c4956","g":"a1600691.2422e8","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":140,"wires":[["c1107989.5025c8"]]},{"id":"465762e4.c77c8c","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":1610,"y":160,"wires":[["3410a912.8b4916"]]},{"id":"77e79d03.96e044","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":1590,"y":360,"wires":[["3410a912.8b4916"]]},{"id":"2755962e.a38c7a","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":1590,"y":400,"wires":[["3410a912.8b4916"]]},{"id":"31015cc4.35fe14","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":1610,"y":260,"wires":[["3410a912.8b4916"]]},{"id":"76a3d6c2.778a38","type":"comment","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"GW-T5-CRT-RELAY","info":"","x":1870,"y":80,"wires":[]},{"id":"581c0840.2527d8","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":1610,"y":220,"wires":[["3410a912.8b4916"]]},{"id":"e4d35394.f460f","type":"inject","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":1610,"y":300,"wires":[["3410a912.8b4916"]]},{"id":"3410a912.8b4916","type":"function","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":200,"wires":[["dc4981f2.99114"]]},{"id":"63e9cb66.f0c944","type":"debug","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"GW-T5-CRT-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1920,"y":360,"wires":[]},{"id":"eb45e179.8e0bf","type":"function","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":280,"wires":[["63e9cb66.f0c944"]]},{"id":"6d33bfcb.d26fb","type":"mqtt in","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1590,"y":80,"wires":[["5a4137b9.141318"]]},{"id":"5a4137b9.141318","type":"function","z":"3b99a9a.f0c4956","g":"fee0d104.c6dce","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":140,"wires":[["3410a912.8b4916"]]},{"id":"befc55a6.cf1078","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":230,"y":160,"wires":[["5531ff7e.48fa3"]]},{"id":"b53478e2.061258","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":210,"y":360,"wires":[["5531ff7e.48fa3"]]},{"id":"8f1ee10a.1e742","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":210,"y":400,"wires":[["5531ff7e.48fa3"]]},{"id":"ca8c314d.62bb5","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":230,"y":260,"wires":[["5531ff7e.48fa3"]]},{"id":"521f06f7.dcaee8","type":"comment","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"GW-T4-LHT-RELAY","info":"","x":490,"y":80,"wires":[]},{"id":"7d8667ca.acb1e8","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":230,"y":220,"wires":[["5531ff7e.48fa3"]]},{"id":"9678fb74.2ca238","type":"inject","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":230,"y":300,"wires":[["5531ff7e.48fa3"]]},{"id":"5531ff7e.48fa3","type":"function","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":200,"wires":[["e289481a.7c0c38"]]},{"id":"def3ee3b.96231","type":"debug","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"GW-T4-LHT-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":340,"wires":[]},{"id":"e2df50d2.57293","type":"function","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["def3ee3b.96231"]]},{"id":"4486f4f2.10216c","type":"mqtt in","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":80,"wires":[["8ad97e59.7639"]]},{"id":"8ad97e59.7639","type":"function","z":"3b99a9a.f0c4956","g":"6336200d.7b3dc","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["5531ff7e.48fa3"]]},{"id":"26657287.ead65e","type":"function","z":"dc1701e8.e957a","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"csp v1-2-ChannelParametricEqualizerMasterMute 1\"\n} else {\n    msg.payload = \"csp v1-2-ChannelParametricEqualizerMasterMute 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":920,"wires":[["421265a2.bd094c"]]},{"id":"74b09e6d.23dea","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":920,"wires":[["26657287.ead65e"]]},{"id":"149a4656.a28c3a","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":160,"y":960,"wires":[["26657287.ead65e"]]},{"id":"46e81f8e.9d309","type":"mqtt in","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":80,"wires":[["8e033b55.614f38"]]},{"id":"2abc9164.c7218e","type":"debug","z":"be8501b9.5dcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2390,"y":360,"wires":[]},{"id":"a4b88e90.b61a1","type":"inject","z":"be8501b9.5dcf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":2350,"y":80,"wires":[["c8ad1b6.71f23e8"]]},{"id":"da0f3d05.9550f","type":"inject","z":"be8501b9.5dcf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":2370,"y":120,"wires":[["c8ad1b6.71f23e8"]]},{"id":"cc534890.7029c8","type":"delay","z":"60f372c8.e62cbc","g":"5bbd3cc6.d06744","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1120,"wires":[["6519a28.f34ee5c"]]},{"id":"6519a28.f34ee5c","type":"function","z":"60f372c8.e62cbc","name":"PWR 1--->vrt 33  PWR 0--->null","func":"if(msg.payload === \"(PWR 1)\") {\n    msg.payload = \"(VRT 33)\";\n}\nif(msg.payload === \"PWR 0\") {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1100,"wires":[["173678c4.46bd57"]]},{"id":"a7ac8efa.71079","type":"change","z":"be8501b9.5dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":240,"wires":[["2abc9164.c7218e"]]},{"id":"c8ad1b6.71f23e8","type":"switch","z":"be8501b9.5dcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2350,"y":200,"wires":[["a7ac8efa.71079"],["bbf58f5f.b32bf"]]},{"id":"bbf58f5f.b32bf","type":"change","z":"be8501b9.5dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":280,"wires":[["2abc9164.c7218e"]]},{"id":"7ca773ab.5318ec","type":"change","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["b6d75bd8.896658"]]},{"id":"8e033b55.614f38","type":"switch","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":80,"wires":[["7ca773ab.5318ec"],["f3ee7c02.a0ac9"]]},{"id":"f3ee7c02.a0ac9","type":"change","z":"be8501b9.5dcf","g":"98dd27d9.f965b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["b6d75bd8.896658"]]},{"id":"19572ad2.c1bb25","type":"change","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["87c81302.d1d08"]]},{"id":"936561cc.a776d","type":"switch","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":980,"wires":[["19572ad2.c1bb25"],["1be94d24.9a9cb3"]]},{"id":"1be94d24.9a9cb3","type":"change","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1060,"wires":[["87c81302.d1d08"]]},{"id":"6a6f07c6.5c6fc8","type":"mqtt in","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":150,"y":980,"wires":[["936561cc.a776d"]]},{"id":"bfb57982.d7dd88","type":"debug","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"GW-TH4-S4-SAMSUNG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1200,"wires":[]},{"id":"4ca0501f.0c204","type":"change","z":"be8501b9.5dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":220,"wires":[[]]},{"id":"6e64b4ee.8d1f4c","type":"switch","z":"be8501b9.5dcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2910,"y":240,"wires":[["4ca0501f.0c204"],["c7c523ca.3be76"]]},{"id":"c7c523ca.3be76","type":"change","z":"be8501b9.5dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":280,"wires":[[]]},{"id":"8aea0247.0c99","type":"mqtt in","z":"be8501b9.5dcf","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":2710,"y":240,"wires":[["6e64b4ee.8d1f4c"]]},{"id":"c5cdabae.f83858","type":"change","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":120,"wires":[["ec835be7.a22568"]]},{"id":"bcc62a97.a6c4d8","type":"switch","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":80,"wires":[["c5cdabae.f83858"],["3eb45a90.4119d6"]]},{"id":"3eb45a90.4119d6","type":"change","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":160,"wires":[["ec835be7.a22568"]]},{"id":"271b534b.aba96c","type":"mqtt in","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":950,"y":80,"wires":[["bcc62a97.a6c4d8"]]},{"id":"16ed2757.714049","type":"function","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"If False, Else True","func":"if (msg.payload[6]== 1 )  {\nmsg.payload=true;\nreturn msg\n}\nelse {\nmsg.payload=false\nreturn msg\n}\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":280,"wires":[["75e9d899.0d7fa8"]]},{"id":"4160d005.303df","type":"function","z":"be8501b9.5dcf","g":"d0befb34.0bf1c8","name":"Buffer Sort","func":"if (msg.payload.length== 8 && msg.payload[0] == 0xaa )  {\n    msg.mk=\"Samsung\"\n    msg.in=\"status?/on\"\n    return [msg,null,null];\n}\nif (msg.payload.length== 16 &&  msg.payload[0] == 0xaa)  {\n    msg.mk=\"Samsung\"\n    msg.in=\"off\"\n    return [null,msg,null];\n}\n\nelse \nreturn [null,null,msg]\nreturn msg\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":200,"wires":[["16ed2757.714049"],["16ed2757.714049"],[]]},{"id":"7e73b13e.fd36e","type":"function","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"If False, Else True","func":"if (msg.payload[6]== 1 )  {\nmsg.payload=true;\nreturn msg\n}\nelse {\nmsg.payload=false\nreturn msg\n}\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1140,"wires":[["bfb57982.d7dd88"]]},{"id":"8aae6107.601c9","type":"function","z":"be8501b9.5dcf","g":"e23e0ce0.48106","name":"Buffer Sort","func":"if (msg.payload.length== 8 && msg.payload[0] == 0xaa )  {\n    msg.mk=\"Samsung\"\n    msg.in=\"status?/on\"\n    return [msg,null,null];\n}\nif (msg.payload.length== 16 &&  msg.payload[0] == 0xaa)  {\n    msg.mk=\"Samsung\"\n    msg.in=\"off\"\n    return [null,msg,null];\n}\n\nelse \nreturn [null,null,msg]\nreturn msg\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1060,"wires":[["7e73b13e.fd36e"],["7e73b13e.fd36e"],[]]},{"id":"a5dde214.6b96b","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","payloadType":"bin","x":1090,"y":820,"wires":[["960d4693.e30dc8"]]},{"id":"ad5e2646.511508","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x00\",\"0x012\"]","payloadType":"bin","x":1070,"y":860,"wires":[["960d4693.e30dc8"]]},{"id":"f29d09f4.4af688","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","payloadType":"bin","x":1090,"y":780,"wires":[["960d4693.e30dc8"]]},{"id":"40f8ca3f.369bd4","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"Volume Set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x32\",\"0x46\"]","payloadType":"bin","x":1130,"y":960,"wires":[["960d4693.e30dc8"]]},{"id":"bc0d7a1d.15b468","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"STATUS VOL","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x00\",\"0x013\"]","payloadType":"bin","x":1090,"y":1000,"wires":[["960d4693.e30dc8"]]},{"id":"dda21642.d20e48","type":"inject","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"Volume OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xAA\",\"0x12\",\"0x01\",\"0x01\",\"0x01\",\"0x15\"]","payloadType":"bin","x":1130,"y":920,"wires":[["960d4693.e30dc8"]]},{"id":"ed0e0919.559d38","type":"change","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x01\",\"0x14\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":740,"wires":[["960d4693.e30dc8"]]},{"id":"26c5062d.ab3d2a","type":"switch","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":720,"wires":[["ed0e0919.559d38"],["a99e28c5.00e608"]]},{"id":"a99e28c5.00e608","type":"change","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xAA\",\"0x11\",\"0x01\",\"0x01\",\"0x00\",\"0x13\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":800,"wires":[["960d4693.e30dc8"]]},{"id":"c213f49a.cf27e8","type":"mqtt in","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1050,"y":720,"wires":[["26c5062d.ab3d2a"]]},{"id":"b71a2c2.ed252d","type":"debug","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"GW-TH4-S7-SAMSUNG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":940,"wires":[]},{"id":"caf92a07.6b38a8","type":"function","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"If False, Else True","func":"if (msg.payload[6]== 1 )  {\nmsg.payload=true;\nreturn msg\n}\nelse {\nmsg.payload=false\nreturn msg\n}\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":880,"wires":[["b71a2c2.ed252d"]]},{"id":"ba7392f8.3c81f","type":"function","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","name":"Buffer Sort","func":"if (msg.payload.length== 8 && msg.payload[0] == 0xaa )  {\n    msg.mk=\"Samsung\"\n    msg.in=\"status?/on\"\n    return [msg,null,null];\n}\nif (msg.payload.length== 16 &&  msg.payload[0] == 0xaa)  {\n    msg.mk=\"Samsung\"\n    msg.in=\"off\"\n    return [null,msg,null];\n}\n\nelse \nreturn [null,null,msg]\nreturn msg\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":800,"wires":[["caf92a07.6b38a8"],["caf92a07.6b38a8"],[]]},{"id":"960d4693.e30dc8","type":"tcp request","z":"be8501b9.5dcf","g":"d122e4cc.8a5268","server":"172.16.2.150","port":"1515","out":"sit","splitc":" ","name":"TH4-S7-SAMSUNG","x":1360,"y":860,"wires":[["ba7392f8.3c81f"]]},{"id":"edf580f0.4bc88","type":"mqtt in","z":"be8501b9.5dcf","g":"80e9c7e3.31ba78","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":190,"y":1860,"wires":[["182039ef.1bcf76"]]},{"id":"9ce90c63.78e44","type":"switch","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":2440,"wires":[["270800e9.1ec86"],["4ba837f.b2e98c8"]]},{"id":"270800e9.1ec86","type":"change","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x02\",\"0xD4\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2440,"wires":[["8a2a53e8.efb24"]]},{"id":"4ba837f.b2e98c8","type":"change","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x08\",\"0x22\",\"0x00\",\"0x00\",\"0x00\",\"0x01\",\"0xD5\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":2480,"wires":[["8a2a53e8.efb24"]]},{"id":"ff48abb9.f52b38","type":"mqtt in","z":"be8501b9.5dcf","g":"b0133d15.00dc9","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":2440,"wires":[["9ce90c63.78e44"]]},{"id":"2b83d948.908bd6","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"INPUT SOURCE 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x09\",\"0x00\"]","payloadType":"bin","x":2250,"y":700,"wires":[["4df177dc.cda178"]]},{"id":"4df177dc.cda178","type":"tcp request","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","server":"172.16.2.146","port":"52000","out":"sit","splitc":" ","name":"GW-T7-WG-SONANCE","x":2190,"y":940,"wires":[["fb13f5ab.3a9b08"]]},{"id":"a298118a.32806","type":"debug","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"GW-t7-WG-Sonance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2500,"y":1020,"wires":[]},{"id":"8c1124c7.6458e8","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"STATUS","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x70\"]","payloadType":"bin","x":2240,"y":740,"wires":[["4df177dc.cda178"]]},{"id":"fb13f5ab.3a9b08","type":"function","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2210,"y":1000,"wires":[["a298118a.32806"]]},{"id":"4c4b4277.4705fc","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Volume STATUS","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x10\",\"0x00\"]","payloadType":"bin","x":2460,"y":720,"wires":[["4df177dc.cda178"]]},{"id":"6aa263bc.8a7d4c","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"POWER ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x01\"]","payloadType":"bin","x":2450,"y":760,"wires":[["4df177dc.cda178"]]},{"id":"98e5717c.7fa24","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"POWER OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x02\"]","payloadType":"bin","x":2450,"y":800,"wires":[["4df177dc.cda178"]]},{"id":"4baef974.877668","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Volume DOWN","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x05\",\"0x00\"]","payloadType":"bin","x":2460,"y":840,"wires":[["4df177dc.cda178"]]},{"id":"357801cd.3248de","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Volume UP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x04\",\"0x00\"]","payloadType":"bin","x":2440,"y":880,"wires":[["4df177dc.cda178"]]},{"id":"dd778347.6511b","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Volume -70","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x71\"]","payloadType":"bin","x":2450,"y":920,"wires":[["4df177dc.cda178"]]},{"id":"84faccda.6579f","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"Volume -25","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x01\",\"0x9D\"]","payloadType":"bin","x":2450,"y":960,"wires":[["4df177dc.cda178"]]},{"id":"722f5a57.d242f4","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"MUTE ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x07\",\"0x00\"]","payloadType":"bin","x":2240,"y":780,"wires":[["4df177dc.cda178"]]},{"id":"13a8bbcb.e703a4","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"MUTE OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x08\",\"0x00\"]","payloadType":"bin","x":2250,"y":820,"wires":[["4df177dc.cda178"]]},{"id":"a9d8ff91.14849","type":"inject","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"MUTE?","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xFF\",\"0x55\",\"0x02\",\"0x12\",\"0x00\"]","payloadType":"bin","x":2230,"y":860,"wires":[["4df177dc.cda178"]]},{"id":"9cbc6c4d.fc2d9","type":"mqtt in","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"","topic":"museum/show/tower/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":2090,"y":640,"wires":[["e23667c2.6f0f28","e431324e.3833e"]]},{"id":"b08a6f30.0d318","type":"change","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xFF\",\"0x55\",\"0x02\",\"0x08\",\"0x00\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":820,"wires":[["4df177dc.cda178","e23667c2.6f0f28"]]},{"id":"3991812.f3e657e","type":"change","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0xFF\",\"0x55\",\"0x02\",\"0x07\",\"0x00\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":1220,"wires":[["4df177dc.cda178","e23667c2.6f0f28"]]},{"id":"a21c086e.29aa98","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"volume 5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"volume\" : \"005\"}","payloadType":"json","x":200,"y":780,"wires":[["30aa197f.3c63b6"]]},{"id":"bae604cb.488e68","type":"debug","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":820,"wires":[]},{"id":"356ee45b.f45a6c","type":"http request","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://172.16.3.62:8000/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":980,"wires":[["59c99937.4c35d8"]]},{"id":"922730e.4c862d","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"volume","payloadType":"str","x":190,"y":980,"wires":[["86beab76.5d8558"]]},{"id":"86beab76.5d8558","type":"change","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":920,"wires":[["356ee45b.f45a6c"]]},{"id":"30aa197f.3c63b6","type":"http request","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"GW-T2-UV-BRIGHTSIGN","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.16.3.62:8000/command","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":840,"wires":[["bae604cb.488e68"]]},{"id":"6aa4cdb9.f5a494","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1020,"wires":[["1ef9e821.b96708"]]},{"id":"19223487.40787b","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"volume 200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"volume\" : \"200\"}","payloadType":"json","x":210,"y":820,"wires":[["30aa197f.3c63b6"]]},{"id":"f0d49106.b3cf6","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"pause","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"playback\" : \"pause\"}","payloadType":"json","x":190,"y":860,"wires":[["30aa197f.3c63b6"]]},{"id":"fe414e2f.70fd8","type":"inject","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"resume","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"playback\" : \"resume\"}","payloadType":"json","x":190,"y":900,"wires":[["30aa197f.3c63b6"]]},{"id":"1ef9e821.b96708","type":"trigger","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","op1":"timecode","op2":"timecode","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":1020,"wires":[["86beab76.5d8558"]]},{"id":"4e95915d.0bf88","type":"debug","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1000,"wires":[]},{"id":"72e10245.a7c52c","type":"join","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":960,"wires":[["7a32368d.134528","b8a93161.3b5a8"]]},{"id":"7a32368d.134528","type":"debug","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":940,"wires":[]},{"id":"b8a93161.3b5a8","type":"change","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"compare strings","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload[0]) = $string(msg.payload[1])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1020,"wires":[["4e95915d.0bf88"]]},{"id":"59c99937.4c35d8","type":"switch","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"volume","vt":"str"},{"t":"cont","v":"timecode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":900,"wires":[["304869a3.211a36"],["72e10245.a7c52c"]]},{"id":"304869a3.211a36","type":"debug","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":880,"wires":[]},{"id":"aa9e5186.948d6","type":"comment","z":"ee2c3154.b9d74","g":"1641c50d.5e088b","name":"GW-T2-UV-BRIGHTSIGN","info":"","x":520,"y":780,"wires":[]},{"id":"35c4edec.faaf22","type":"mqtt in","z":"ee2c3154.b9d74","name":"","topic":"museum/show/tower/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":230,"y":480,"wires":[["6c83156f.2cd2ac"]]},{"id":"6c83156f.2cd2ac","type":"switch","z":"ee2c3154.b9d74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":480,"wires":[["3608f8e7.9246a8"],["29efe8e2.2689c8"]]},{"id":"29efe8e2.2689c8","type":"change","z":"ee2c3154.b9d74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"volume\" : \"100\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":560,"wires":[["30aa197f.3c63b6"]]},{"id":"3608f8e7.9246a8","type":"change","z":"ee2c3154.b9d74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"volume\" : \"000\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":560,"wires":[["30aa197f.3c63b6"]]},{"id":"3c85939d.6fc8bc","type":"inject","z":"ee2c3154.b9d74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":160,"y":700,"wires":[["6c83156f.2cd2ac"]]},{"id":"a7fc9091.5364a","type":"inject","z":"ee2c3154.b9d74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":660,"wires":[["6c83156f.2cd2ac"]]},{"id":"cc2d2b0c.77e178","type":"mqtt out","z":"253d7b99.c093d4","name":"","topic":"museum/show/status","qos":"","retain":"","broker":"67f65694.019f98","x":280,"y":640,"wires":[]},{"id":"5ecbb97.5576648","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":100,"y":620,"wires":[["cc2d2b0c.77e178"]]},{"id":"5fa2cb2d.66dbd4","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":660,"wires":[["cc2d2b0c.77e178"]]},{"id":"5b728c0.ed33374","type":"comment","z":"253d7b99.c093d4","name":"Show On/Off","info":"Show On/Off","x":100,"y":560,"wires":[]},{"id":"1101e760.62acb9","type":"mqtt out","z":"253d7b99.c093d4","g":"bb0f47c2.7a0368","name":"","topic":"museum/show/audio/mute","qos":"","retain":"","broker":"67f65694.019f98","x":380,"y":360,"wires":[]},{"id":"da34f0e0.99d6","type":"inject","z":"253d7b99.c093d4","g":"bb0f47c2.7a0368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":300,"wires":[["1101e760.62acb9"]]},{"id":"bdea3aee.00a7b8","type":"inject","z":"253d7b99.c093d4","g":"bb0f47c2.7a0368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":420,"wires":[["1101e760.62acb9"]]},{"id":"563f8064.6cb3d","type":"comment","z":"253d7b99.c093d4","g":"bb0f47c2.7a0368","name":"Mute On/Off","info":"","x":130,"y":220,"wires":[]},{"id":"589b985f.ffee38","type":"mqtt in","z":"60f372c8.e62cbc","name":"","topic":"museum/show/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1300,"y":180,"wires":[["a4529cb9.ca88d"]]},{"id":"a4529cb9.ca88d","type":"function","z":"60f372c8.e62cbc","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":180,"wires":[["a1e8c784.288048","29924943.4da9a6"]]},{"id":"a1e8c784.288048","type":"debug","z":"60f372c8.e62cbc","name":"1071-PJ-STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":180,"wires":[]},{"id":"301ceb61.45d7d4","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":1280,"y":280,"wires":[["29924943.4da9a6"]]},{"id":"e5417868.3f4ce8","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":1280,"y":240,"wires":[["29924943.4da9a6"]]},{"id":"7a89d9c0.f2d1b8","type":"function","z":"60f372c8.e62cbc","name":"status to dashboard","func":"if(msg.payload.value === 0) {\n    msg.payload = {\"name\":\"R-B48 Projector\", \"status\" : false}\n}\nif(msg.payload.value === 1) {\n    msg.payload = {\"name\":\"R-B48 Projector\", \"status\" : true}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":300,"wires":[["e4c00274.5eb1e"]]},{"id":"e4c00274.5eb1e","type":"mqtt out","z":"60f372c8.e62cbc","name":"","topic":"museum/show/devices/status","qos":"2","retain":"true","broker":"67f65694.019f98","x":2280,"y":300,"wires":[]},{"id":"3fe4c5d1.50977a","type":"function","z":"60f372c8.e62cbc","name":"status to dashboard","func":"if(msg.payload.value === 0) {\n    msg.payload = {\"name\":\"R-B64 Projector\", \"status\" : false}\n}\nif(msg.payload.value === 1) {\n    msg.payload = {\"name\":\"R-B64 Projector\", \"status\" : true}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":260,"wires":[["e4c00274.5eb1e"]]},{"id":"9894c742.396ef8","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":1280,"y":380,"wires":[[]]},{"id":"7b3a338a.1dd7ac","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":1280,"y":420,"wires":[[]]},{"id":"b9beb54a.5b7488","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":1320,"y":320,"wires":[["29924943.4da9a6"]]},{"id":"b18e808d.37a31","type":"function","z":"60f372c8.e62cbc","name":"status to dashboard","func":"if(msg.payload.value === 0) {\n    msg.payload = {\"name\":\"T5-LTA\", \"status\" : false}\n}\nif(msg.payload.value === 1) {\n    msg.payload = {\"name\":\"T5-LTA\", \"status\" : true}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":360,"wires":[["e4c00274.5eb1e"]]},{"id":"8850df48.dd388","type":"catch","z":"60f372c8.e62cbc","name":"","scope":null,"uncaught":false,"x":1280,"y":100,"wires":[["e8e5d945.737578"]]},{"id":"e8e5d945.737578","type":"debug","z":"60f372c8.e62cbc","name":"VID-ERROR-CATCH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":100,"wires":[]},{"id":"475172d8.b42cfc","type":"function","z":"60f372c8.e62cbc","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"fullscreenAll\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"windowedAll\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":460,"wires":[["266b3cef.957994"]]},{"id":"166794cb.9756ab","type":"mqtt in","z":"60f372c8.e62cbc","name":"","topic":"museum/show/fullscreen","qos":"2","datatype":"utf8","broker":"67f65694.019f98","x":1250,"y":480,"wires":[["475172d8.b42cfc"]]},{"id":"266b3cef.957994","type":"debug","z":"60f372c8.e62cbc","name":"Fullscreen On/Off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":440,"wires":[]},{"id":"2441ade5.9a0672","type":"function","z":"60f372c8.e62cbc","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2080,"y":140,"wires":[[]]},{"id":"29924943.4da9a6","type":"pjlink-projector","z":"60f372c8.e62cbc","d":true,"name":"PJLink","ip":"172.16.3.223","port":4352,"password":"","x":1580,"y":340,"wires":[["3fe4c5d1.50977a"]]},{"id":"9e857e48.2d732","type":"function","z":"253d7b99.c093d4","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"fullscreenAll\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"windowedAll\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":140,"wires":[["8ceb73ce.bc19a"]]},{"id":"f54abadd.7ba848","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/fullscreen","qos":"2","datatype":"utf8","broker":"67f65694.019f98","x":1830,"y":160,"wires":[["9e857e48.2d732"]]},{"id":"8ceb73ce.bc19a","type":"debug","z":"253d7b99.c093d4","name":"Fullscreen On/Off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2290,"y":120,"wires":[]},{"id":"54e173ec.642ebc","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":930,"y":80,"wires":[["e13007e6.f3f978"]]},{"id":"bd80af89.b0efd","type":"debug","z":"253d7b99.c093d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":100,"wires":[]},{"id":"ed0e3208.f227b","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/tower/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":930,"y":240,"wires":[["636aee68.654c4"]]},{"id":"636aee68.654c4","type":"debug","z":"253d7b99.c093d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":220,"wires":[]},{"id":"cd255686.b67628","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/rotunda/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":920,"y":380,"wires":[["636aee68.654c4"]]},{"id":"594e828c.87cbcc","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":950,"y":280,"wires":[["636aee68.654c4"]]},{"id":"2f06d46f.6f2e7c","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/rotunda/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":940,"y":340,"wires":[["636aee68.654c4"]]},{"id":"47945264.70eafc","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":960,"y":440,"wires":[["636aee68.654c4"]]},{"id":"55cec87b.632588","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","x":950,"y":480,"wires":[["636aee68.654c4"]]},{"id":"e13007e6.f3f978","type":"function","z":"253d7b99.c093d4","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":80,"wires":[["bd80af89.b0efd"]]},{"id":"e11fdd7b.a7043","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":820,"wires":[["52422790.461e98"]]},{"id":"4bfdbc4a.076dc4","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":880,"wires":[["52422790.461e98"]]},{"id":"6d7a5142.86fd1","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":1020,"wires":[["b74c0bc6.bef6c8"]]},{"id":"68dbc108.4fcf4","type":"inject","z":"253d7b99.c093d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":1060,"wires":[["b74c0bc6.bef6c8"]]},{"id":"52422790.461e98","type":"mqtt out","z":"253d7b99.c093d4","name":"","topic":"museum/show/tower/audio/mute","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67f65694.019f98","x":390,"y":840,"wires":[]},{"id":"a0b2c4e2.4b61e8","type":"mqtt in","z":"dc1701e8.e957a","name":"","topic":"museum/show/rotunda/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":780,"y":1060,"wires":[["ed9c4a5a.2b19d8","7bbf83b4.1c00bc"]]},{"id":"55956aec.b7b714","type":"inject","z":"dc1701e8.e957a","name":"ROTUNDA MUTE ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp ROTUNDAMUTE:CustomControlsToggle1 1","payloadType":"str","x":240,"y":1160,"wires":[["421265a2.bd094c"]]},{"id":"95607e31.77f18","type":"inject","z":"dc1701e8.e957a","name":"ROTUNDA MUTE OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp ROTUNDAMUTE:CustomControlsToggle1 0","payloadType":"str","x":240,"y":1200,"wires":[["421265a2.bd094c"]]},{"id":"225bb095.2ef3f","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cgc 1","payloadType":"str","x":780,"y":1240,"wires":[["421265a2.bd094c"]]},{"id":"1c29fd.8afd1603","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cga 1 W1","payloadType":"str","x":780,"y":1300,"wires":[["421265a2.bd094c"]]},{"id":"5a525bad.e217c4","type":"inject","z":"dc1701e8.e957a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cga 1 W2","payloadType":"str","x":780,"y":1340,"wires":[["421265a2.bd094c"]]},{"id":"e33cd6d.eed9e28","type":"tcp request","z":"3df5559a.5981da","server":"172.16.3.126","port":"1710","out":"time","splitc":"0","name":"","x":610,"y":240,"wires":[["e9cc815e.c793b"]]},{"id":"17fc2c2.01902d4","type":"debug","z":"3df5559a.5981da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"1beab9a2.fc5b66","type":"inject","z":"3df5559a.5981da","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\":\"2.0\",   \"method\":\"Logon\",   \"params\":{     \"User\":\"MM\",     \"Password\":\"srgm1071\"   } }","payloadType":"json","x":300,"y":260,"wires":[["e33cd6d.eed9e28"]]},{"id":"e9cc815e.c793b","type":"function","z":"3df5559a.5981da","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["17fc2c2.01902d4"]]},{"id":"abf99c11.8ad24","type":"inject","z":"3df5559a.5981da","name":"noOP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\":\"2.0\",   \"method\":\"NoOp\",   \"params\":{   } }","payloadType":"json","x":280,"y":340,"wires":[["e33cd6d.eed9e28"]]},{"id":"a1788a7a.42d618","type":"inject","z":"3df5559a.5981da","name":"status get","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"jsonrpc\": \"2.0\",    \"method\": \"StatusGet\",    \"id\": 1234,   \"params\": 0 }","payloadType":"json","x":270,"y":460,"wires":[["e33cd6d.eed9e28"]]},{"id":"fb356ee0.57572","type":"inject","z":"dc1701e8.e957a","name":"TOWER MUTE ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp TOWERMUTE:CustomControlsToggle1 1","payloadType":"str","x":210,"y":1060,"wires":[["421265a2.bd094c"]]},{"id":"8d9d0093.a325f","type":"inject","z":"dc1701e8.e957a","name":"TOWER MUTE OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"csp TOWERMUTE:CustomControlsToggle1 0","payloadType":"str","x":210,"y":1100,"wires":[["421265a2.bd094c"]]},{"id":"5eea2f75.91411","type":"mqtt in","z":"dc1701e8.e957a","name":"","topic":"museum/show/tower/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":250,"y":1300,"wires":[["bfa80370.744b5"]]},{"id":"f04db389.b3bf","type":"mqtt in","z":"dc1701e8.e957a","name":"","topic":"museum/show/rotunda/audio/mute","qos":"2","datatype":"auto","broker":"67f65694.019f98","nl":false,"rap":true,"rh":0,"x":250,"y":1400,"wires":[["30e2a4f2.3cafbc"]]},{"id":"bfa80370.744b5","type":"function","z":"dc1701e8.e957a","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"csp TOWERMUTE:CustomControlsToggle1 1\"\n} else {\n    msg.payload = \"csp TOWERMUTE:CustomControlsToggle1 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1300,"wires":[["421265a2.bd094c"]]},{"id":"30e2a4f2.3cafbc","type":"function","z":"dc1701e8.e957a","name":"","func":"if(msg.payload === \"on\") {\n    msg.payload = \"csp ROTUNDAMUTE:CustomControlsToggle1 1\"\n} else {\n    msg.payload = \"csp ROTUNDAMUTE:CustomControlsToggle1 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1400,"wires":[["421265a2.bd094c"]]},{"id":"b74c0bc6.bef6c8","type":"mqtt out","z":"253d7b99.c093d4","name":"","topic":"museum/show/rotunda/audio/mute","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67f65694.019f98","x":380,"y":1020,"wires":[]},{"id":"c96af5fa.e3cf58","type":"tcp request","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","server":"172.16.0.160","port":"4998","out":"sit","splitc":" \\n","name":"GW-T4-BEETRON-RELAY","x":2000,"y":640,"wires":[["b1c24e6.e1b24b"]]},{"id":"dd1d0fa9.1be11","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_NET,0:1","payloadType":"str","x":1610,"y":600,"wires":[["78fbd7f0.3dc568"]]},{"id":"382e430.e6a5fbe","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,0","payloadType":"str","x":1590,"y":800,"wires":[["78fbd7f0.3dc568"]]},{"id":"4c69c126.a0221","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setstate,1:3,1","payloadType":"str","x":1590,"y":840,"wires":[["78fbd7f0.3dc568"]]},{"id":"76219074.1f03a","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:2","payloadType":"str","x":1610,"y":700,"wires":[["78fbd7f0.3dc568"]]},{"id":"490f72e7.456d9c","type":"comment","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"GW-T4-BETRON-RELAY","info":"","x":1890,"y":520,"wires":[]},{"id":"96bc3b53.8ed048","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:1","payloadType":"str","x":1610,"y":660,"wires":[["78fbd7f0.3dc568"]]},{"id":"199ccb8d.463eb4","type":"inject","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getstate,1:3","payloadType":"str","x":1610,"y":740,"wires":[["78fbd7f0.3dc568"]]},{"id":"78fbd7f0.3dc568","type":"function","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":640,"wires":[["c96af5fa.e3cf58"]]},{"id":"111a8c1.ebf6674","type":"debug","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"GW-T2-CRT-RELAY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1940,"y":840,"wires":[]},{"id":"b1c24e6.e1b24b","type":"function","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":720,"wires":[["111a8c1.ebf6674"]]},{"id":"6c26a6cc.ea3928","type":"mqtt in","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1590,"y":520,"wires":[["4834865e.d43b58"]]},{"id":"4834865e.d43b58","type":"function","z":"3b99a9a.f0c4956","g":"c00b81c5.d49c6","name":"ON--->setstate 0   off---->setstate 1","func":"if(msg.payload === \"on\") {\n    msg.payload = \"setstate,1:3,0\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"setstate,1:3,1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":580,"wires":[["78fbd7f0.3dc568"]]},{"id":"fd9ff98.1cf4a08","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"STATUS LAMP 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x51\",\"0x24\",\"0x4C\",\"0x03A\",\"0x31\",\"0x03\"]","payloadType":"bin","x":1380,"y":1900,"wires":[["40e8eeac.21dcc"]]},{"id":"4a03bbf0.e04634","type":"tcp request","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","server":"172.16.0.163","port":"4998","out":"sit","splitc":"\\x0D","name":"KN-R6-B64- DZ870-SERIAL ","x":1280,"y":1640,"wires":[["2122507b.2d777"]]},{"id":"b1981c79.bb054","type":"function","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1580,"wires":[["4a03bbf0.e04634"]]},{"id":"364f299c.7398b6","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_SERIAL,1:1","payloadType":"str","x":1040,"y":1620,"wires":[["b1981c79.bb054"]]},{"id":"2316af4a.609be","type":"debug","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"KN-R6-B64- DZ870-SERIAL ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":1700,"wires":[]},{"id":"40e8eeac.21dcc","type":"tcp request","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","server":"172.16.0.163","port":"4999","out":"sit","splitc":" ","name":"KN-R6-B66- DZ870-SERIAL ","x":1320,"y":1800,"wires":[["2122507b.2d777"]]},{"id":"fbc21530.7d0858","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getdevices","payloadType":"str","x":1040,"y":1580,"wires":[["b1981c79.bb054"]]},{"id":"172bef58.eb66e1","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x50\",\"0x4F\",\"0x4E\",\"0x03\"]","payloadType":"bin","x":1070,"y":1720,"wires":[["40e8eeac.21dcc"]]},{"id":"11975bfb.ec1864","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"STATUS PWR","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x51\",\"0x50\",\"0x57\",\"0x03\"]","payloadType":"bin","x":990,"y":1880,"wires":[["40e8eeac.21dcc"]]},{"id":"18c93c3d.d24e44","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x50\",\"0x4F\",\"0x46\",\"0x03\"]","payloadType":"bin","x":1070,"y":1680,"wires":[["40e8eeac.21dcc"]]},{"id":"8c62c30a.ecde","type":"comment","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"KN-R6-B64- DZ870-SERIAL -GENDER CH","info":"HTTP- 172.16.0.92","x":1380,"y":1520,"wires":[]},{"id":"c6e2ef4a.209c3","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"INPUT HDMI 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x48\",\"0x44\",\"0x31\",\"0x03\"]","payloadType":"bin","x":1020,"y":1840,"wires":[["40e8eeac.21dcc"]]},{"id":"17e63a08.041846","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"STATUS INPUT","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x51\",\"0x49\",\"0x4E\",\"0x03\"]","payloadType":"bin","x":1000,"y":1940,"wires":[["40e8eeac.21dcc"]]},{"id":"40035b84.ca4dd4","type":"inject","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"STATUS LAMP 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x02\",\"0x41\",\"0x44\",\"0x5A\",\"0x5A\",\"0x3B\",\"0x51\",\"0x24\",\"0x4C\",\"0x03A\",\"0x32\",\"0x03\"]","payloadType":"bin","x":1300,"y":1960,"wires":[["40e8eeac.21dcc"]]},{"id":"2122507b.2d777","type":"function","z":"60f372c8.e62cbc","g":"6d94955a.b758fc","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1720,"wires":[["2316af4a.609be"]]},{"id":"9a8844ec.e3a2a8","type":"tcp request","z":"60f372c8.e62cbc","g":"ce4fad35.87389","server":"172.16.0.116","port":"4998","out":"sit","splitc":"\\x0D","name":"KN-R6-B66-DS750-SERIAL ","x":660,"y":1620,"wires":[["edb5aac6.a3ea88"]]},{"id":"507d9972.92abe8","type":"function","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1560,"wires":[["9a8844ec.e3a2a8"]]},{"id":"9208b6b2.6813c8","type":"inject","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"get_SERIAL,1:1","payloadType":"str","x":360,"y":1600,"wires":[["507d9972.92abe8"]]},{"id":"40f4f505.c282bc","type":"debug","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"KN-R6-B66-DS750-SERIAL ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":1740,"wires":[]},{"id":"792e7758.2b8c98","type":"tcp request","z":"60f372c8.e62cbc","g":"ce4fad35.87389","server":"172.16.0.116","port":"4999","out":"sit","splitc":" ","name":"KN-R6-B66-DS750-SERIAL ","x":580,"y":1820,"wires":[["40f4f505.c282bc"]]},{"id":"3341e76.d9cd818","type":"inject","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getdevices","payloadType":"str","x":360,"y":1560,"wires":[["507d9972.92abe8"]]},{"id":"ac901220.b3ee3","type":"comment","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"KN-R6-B66-DS750-SERIAL -NULL-MO","info":"HTTP- 172.16.0.92","x":530,"y":1500,"wires":[]},{"id":"edb5aac6.a3ea88","type":"function","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1680,"wires":[["40f4f505.c282bc"]]},{"id":"220eaf53.404e2","type":"mqtt in","z":"253d7b99.c093d4","name":"","topic":"museum/show/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":980,"y":840,"wires":[["4c5fd381.3d629c","a68cd837.6bec18"]]},{"id":"4c5fd381.3d629c","type":"mqtt out","z":"253d7b99.c093d4","name":"","topic":"museum/show/tower/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67f65694.019f98","x":1350,"y":780,"wires":[]},{"id":"a68cd837.6bec18","type":"mqtt out","z":"253d7b99.c093d4","name":"","topic":"museum/show/rotunda/status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67f65694.019f98","x":1340,"y":860,"wires":[]},{"id":"6cdadba7.3f72f4","type":"inject","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C00","payloadType":"str","x":270,"y":1700,"wires":[["eb925fec.636"]]},{"id":"ec74c890.cd0a28","type":"inject","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C01","payloadType":"str","x":260,"y":1740,"wires":[["eb925fec.636"]]},{"id":"28390552.06730a","type":"inject","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CR0","payloadType":"str","x":260,"y":1780,"wires":[["eb925fec.636"]]},{"id":"33061b6b.0329d4","type":"function","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"on--->C00---> pwr C01","func":"if(msg.payload === \"on\") {\n    msg.payload = \"C00\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"C01\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1080,"wires":[["5c459c13.3b8a14","3aa8966.16e8c6a"]]},{"id":"db012a19.302308","type":"comment","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"KN-R6-B66-DS750","info":"","x":1090,"y":940,"wires":[]},{"id":"1b5c7a95.f93ab5","type":"debug","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"KN-R6-B66-DS750","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":1260,"wires":[]},{"id":"e1905691.d5d128","type":"inject","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C00","payloadType":"str","x":970,"y":1100,"wires":[["3aa8966.16e8c6a"]]},{"id":"9779e00d.7d847","type":"inject","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C01","payloadType":"str","x":970,"y":1140,"wires":[["3aa8966.16e8c6a"]]},{"id":"eb925fec.636","type":"function","z":"60f372c8.e62cbc","g":"ce4fad35.87389","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1760,"wires":[["792e7758.2b8c98"]]},{"id":"3416ae1f.78d502","type":"inject","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"Status","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CR0","payloadType":"str","x":1000,"y":1180,"wires":[["3aa8966.16e8c6a"]]},{"id":"3aa8966.16e8c6a","type":"function","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"C-Return","func":"msg.payload = msg.payload + '\\x0D';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1180,"wires":[["325d9cbe.053c54"]]},{"id":"325d9cbe.053c54","type":"tcp request","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","server":"172.16.0.85","port":"10000","out":"sit","splitc":" ","name":"","x":1240,"y":1240,"wires":[["adadda84.ec5678"]]},{"id":"6d616bd9.b5dac4","type":"trigger","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"","op1":"CR0","op2":"0000","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":1220,"wires":[["3aa8966.16e8c6a"]]},{"id":"44e54d56.e6f074","type":"inject","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"Logon","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"","payloadType":"date","x":950,"y":1280,"wires":[["6d616bd9.b5dac4"]]},{"id":"e23667c2.6f0f28","type":"debug","z":"be8501b9.5dcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2640,"y":560,"wires":[]},{"id":"ae02016b.dbc82","type":"pjlink-projector","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"PJLink","ip":"172.16.0.89","port":4352,"password":"panasonic","x":1220,"y":740,"wires":[["76e1df01.aea8c"]]},{"id":"2ebf48fe.17e088","type":"inject","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOff","payloadType":"str","x":980,"y":760,"wires":[["ae02016b.dbc82"]]},{"id":"ef1a3adf.5f4bf8","type":"inject","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerOn","payloadType":"str","x":980,"y":720,"wires":[["ae02016b.dbc82"]]},{"id":"19695bb2.7f2994","type":"inject","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"powerStatus","payloadType":"str","x":1010,"y":800,"wires":[["ae02016b.dbc82"]]},{"id":"76e1df01.aea8c","type":"debug","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"KN- R6-B66-Panasonic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":740,"wires":[]},{"id":"15d21ef5.9f8911","type":"mqtt in","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"","topic":"museum/show/rotunda/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1020,"y":660,"wires":[["fd9c013d.6246a"]]},{"id":"fd9c013d.6246a","type":"function","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"ON--->powerOn   off---->poweroff","func":"if(msg.payload === \"on\") {\n    msg.payload = \"powerOn\";\n}\nif(msg.payload === \"off\") {\n    msg.payload = \"powerOff\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":680,"wires":[["ae02016b.dbc82"]]},{"id":"16076d00.78fba3","type":"comment","z":"60f372c8.e62cbc","g":"fe1e2e5f.16bef","name":"KN- R6-B66-Panasonic","info":"","x":1240,"y":640,"wires":[]},{"id":"9d9a383.7d203c8","type":"inject","z":"ee2c3154.b9d74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"comm\": \"reboot\"}","payloadType":"json","x":210,"y":1100,"wires":[["30aa197f.3c63b6"]]},{"id":"adadda84.ec5678","type":"function","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"Buffer to String","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1160,"wires":[["1b5c7a95.f93ab5"]]},{"id":"eebb4592.b633e8","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"volume 5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"volume\" : \"005\"}","payloadType":"json","x":200,"y":1360,"wires":[["db30b5a3.fe29e8"]]},{"id":"e2824ea4.19836","type":"debug","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1400,"wires":[]},{"id":"62cb34de.81a85c","type":"http request","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://172.16.3.119:8000/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1560,"wires":[["b3c07533.9ac6d8"]]},{"id":"22b0b746.d06948","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"volume","payloadType":"str","x":190,"y":1560,"wires":[["286caad1.05a646"]]},{"id":"286caad1.05a646","type":"change","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1500,"wires":[["62cb34de.81a85c"]]},{"id":"db30b5a3.fe29e8","type":"http request","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"GW-T4-SM-BRIGHTSIGN","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.16.3.119:8000/command","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1420,"wires":[["e2824ea4.19836"]]},{"id":"aa4c2eb2.76448","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1600,"wires":[["3e873c52.e261e4"]]},{"id":"7a3ea217.09c47c","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"volume 200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"volume\" : \"200\"}","payloadType":"json","x":210,"y":1400,"wires":[["db30b5a3.fe29e8"]]},{"id":"3ed299de.022816","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"pause","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"playback\" : \"pause\"}","payloadType":"json","x":190,"y":1440,"wires":[["db30b5a3.fe29e8"]]},{"id":"2945dadc.2a40f6","type":"inject","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"resume","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"playback\" : \"resume\"}","payloadType":"json","x":190,"y":1480,"wires":[["db30b5a3.fe29e8"]]},{"id":"3e873c52.e261e4","type":"trigger","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","op1":"timecode","op2":"timecode","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":1600,"wires":[["286caad1.05a646"]]},{"id":"6bc464f8.a14ecc","type":"debug","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1580,"wires":[]},{"id":"bbfbc7dd.b56fc8","type":"join","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":1540,"wires":[["82e5caa6.311d98","a882e923.916ef8"]]},{"id":"82e5caa6.311d98","type":"debug","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1520,"wires":[]},{"id":"a882e923.916ef8","type":"change","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"compare strings","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload[0]) = $string(msg.payload[1])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1600,"wires":[["6bc464f8.a14ecc"]]},{"id":"b3c07533.9ac6d8","type":"switch","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"volume","vt":"str"},{"t":"cont","v":"timecode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1480,"wires":[["937fc310.e7255"],["bbfbc7dd.b56fc8"]]},{"id":"937fc310.e7255","type":"debug","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1460,"wires":[]},{"id":"aa5d5916.1ba138","type":"comment","z":"ee2c3154.b9d74","g":"5dc7506e.763f4","name":"GW-T4-SM-BRIGHTSIGN","info":"","x":520,"y":1360,"wires":[]},{"id":"bc77c544.c697d8","type":"inject","z":"ee2c3154.b9d74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"comm\": \"reboot\"}","payloadType":"json","x":210,"y":1680,"wires":[["db30b5a3.fe29e8"]]},{"id":"a3c30952.5194d8","type":"mqtt in","z":"ee2c3154.b9d74","d":true,"name":"","topic":"museum/show/tower/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":210,"y":1260,"wires":[["24b4188c.6b64f8"]]},{"id":"24b4188c.6b64f8","type":"function","z":"ee2c3154.b9d74","name":"bs-restart-sort","func":"if(msg.payload === \"on\") {\n    msg.payload = {\"comm\": \"reboot\"};\n    return [ msg, null ];\n}\nelse {\n  return [ null, msg ];\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1260,"wires":[["9ddd3b02.10e408"],[]]},{"id":"5c459c13.3b8a14","type":"debug","z":"60f372c8.e62cbc","g":"dfd02cde.5c3af","name":"KN-R6-B66-DS750","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":980,"wires":[]},{"id":"3ba84013.d283","type":"mqtt in","z":"60f372c8.e62cbc","name":"","topic":"museum/show/rotunda/status","qos":"2","datatype":"utf8","broker":"67f65694.019f98","nl":false,"rap":false,"x":1040,"y":1000,"wires":[["33061b6b.0329d4"]]},{"id":"e5969959.364d28","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":860,"y":1400,"wires":[["33061b6b.0329d4"]]},{"id":"f3601216.99e35","type":"inject","z":"60f372c8.e62cbc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":850,"y":1360,"wires":[["33061b6b.0329d4"]]},{"id":"9ddd3b02.10e408","type":"delay","z":"ee2c3154.b9d74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1280,"wires":[["db30b5a3.fe29e8"]]},{"id":"ed9c4a5a.2b19d8","type":"function","z":"dc1701e8.e957a","name":"","func":"if(msg.payload === \"off\") {\n    msg.payload = \"csp TOWERMUTE:CustomControlsToggle1 1\"\n} else {\n    msg.payload = \"csp TOWERMUTE:CustomControlsToggle1 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1020,"wires":[["421265a2.bd094c"]]},{"id":"7bbf83b4.1c00bc","type":"function","z":"dc1701e8.e957a","name":"","func":"if(msg.payload === \"off\") {\n    msg.payload = \"csp ROTUNDAMUTE:CustomControlsToggle1 1\"\n} else {\n    msg.payload = \"csp ROTUNDAMUTE:CustomControlsToggle1 0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1060,"wires":[["421265a2.bd094c"]]},{"id":"e431324e.3833e","type":"function","z":"be8501b9.5dcf","g":"1ee2a53c.5bc97b","name":"amp-sort","func":"if(msg.payload === \"on\") {\n    msg.payload = \"on\";\n    return [ msg, null ];\n}\nelse {\n     msg.payload = \"off\";\n  return [ null, msg ];\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":720,"wires":[["3991812.f3e657e"],["b08a6f30.0d318"]]}]